Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

check-file-size:
  name: Check File Size (<2.5KLOC Policy)
  entry: .pre-commit-hooks/check-file-size.sh
  language: system
  pass_filenames: true

build-check:
  name: Build Check
  entry: make
  args:
  - debug
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-check:
  name: Clang-Tidy Check
  entry: bash
  args:
  - -c
  ...

test-check:
  name: Test Check
  entry: make
  args:
  - test
  language: system
  pass_filenames: false
  stages:
  - pre-push

New Crowdin translations by GitHub Action
  lang/ja.json
  lang/ru.json
  lang/zh.json
Due: none

New Crowdin translations by GitHub Action (#1791)
  lang/ja.json
  lang/ru.json
  lang/zh.json
Due: none

Fix #1880: keep powered-off devices off through audio export
  magda/daw/engine/OfflineRenderHelper.cpp
  tests/CMakeLists.txt
  tests/test_offline_render_device_power_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix #1880: keep powered-off devices off through audio export (#1881)
  magda/daw/engine/OfflineRenderHelper.cpp
  tests/CMakeLists.txt
  tests/test_offline_render_device_power_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address 0.17.0 review feedback
  magda/agents/agent_runtime.cpp
  magda/agents/command_agent.cpp
  magda/agents/command_model.cpp
  magda/agents/command_model_onnx.cpp
  magda/daw/api/remote_api.cpp
  magda/daw/api/remote_api.hpp
  magda/daw/api/remote_api_projection.cpp
  magda/daw/audio/plugins/DeviceServices.cpp
  magda/daw/stem_separation/DemucsSeparator.cpp
  magda/daw/stem_separation/SpleeterSeparator.cpp
  magda/daw/stem_separation/StemModelDownloader.cpp
  magda/daw/stem_separation/StemSeparationService.cpp
  magda/daw/stem_separation/StemSeparationService.hpp
  prototypes/command-model-poc/HANDOFF_ONNX.md
  prototypes/command-model-poc/eval/run.py
  prototypes/command-model-poc/model/data.py
  prototypes/command-model-poc/model/data_encoder.py
  prototypes/command-model-poc/model/export_cpp.py
  tests/test_agent_runtime.cpp
  tests/test_command_model.cpp
  tests/test_demucs_separator.cpp
  tests/test_remote_api_contract.cpp
  tests/test_spleeter_separator.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address remaining 0.17.0 review gaps
  magda/agents/command_model.cpp
  magda/agents/command_model_onnx.cpp
  magda/agents/command_model_onnx.hpp
  magda/daw/api/remote_api.cpp
  magda/daw/api/remote_api.hpp
  magda/daw/api/remote_api_projection.cpp
  magda/daw/stem_separation/DemucsSeparator.cpp
  magda/daw/stem_separation/SpleeterSeparator.cpp
  magda/daw/stem_separation/StemModelDownloader.cpp
  magda/daw/stem_separation/StemSeparationService.cpp
  magda/daw/stem_separation/StemSeparationService.hpp
  tests/test_agent_runtime.cpp
  tests/test_command_model.cpp
  tests/test_command_model_onnx.cpp
  tests/test_remote_api_contract.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

deploy: 709111dfb898405abdf1f11674fa77ca988d68e1
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  working-with-ai/index.html
Due: none

Update the manual for 0.17
  manual/docs/clips.md
  manual/docs/devices/drum-kit.md
  manual/docs/devices/fm0.md
  manual/docs/devices/mutable.md
  manual/docs/devices/physical-models.md
  manual/docs/devices/poly-synth.md
  manual/docs/fx-chain.md
  manual/docs/interface/ai-settings.md
  manual/docs/interface/controllers.md
  manual/docs/interface/plugin-settings.md
  manual/docs/panels/ai-assistant.md
  manual/docs/panels/media-library.md
  manual/docs/plugin-parameters.md
  manual/docs/reference/dsl.md
  manual/docs/reference/file-formats.md
  manual/docs/reference/lua-scripting.md
  manual/docs/stem-separation.md
  manual/docs/working-with-ai.md
  manual/mkdocs.yml
Due: none

Update the manual for 0.17 (#1900)
  manual/docs/clips.md
  manual/docs/devices/drum-kit.md
  manual/docs/devices/fm0.md
  manual/docs/devices/mutable.md
  manual/docs/devices/physical-models.md
  manual/docs/devices/poly-synth.md
  manual/docs/fx-chain.md
  manual/docs/interface/ai-settings.md
  manual/docs/interface/controllers.md
  manual/docs/interface/plugin-settings.md
  manual/docs/panels/ai-assistant.md
  manual/docs/panels/media-library.md
  manual/docs/plugin-parameters.md
  manual/docs/reference/dsl.md
  manual/docs/reference/file-formats.md
  manual/docs/reference/lua-scripting.md
  manual/docs/stem-separation.md
  manual/docs/working-with-ai.md
  manual/mkdocs.yml
Due: none

Own JUCE as a direct dependency (#1883)
  .gitmodules
  CMakeLists.txt
  setup.sh
Due: build-check

Fix the Intel macOS link failure on the ONNX command model
  magda/agents/command_model_onnx.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix the Intel macOS link failure on the ONNX command model (#1902)
  magda/agents/command_model_onnx.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat: consolidate plugin metadata storage
  magda/daw/core/AppPaths.cpp
  magda/daw/core/AppPaths.hpp
  magda/daw/engine/CMakeLists.txt
  magda/daw/engine/PluginMetadataStore.cpp
  magda/daw/engine/PluginMetadataStore.hpp
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/PluginScanCoordinator.hpp
  magda/daw/engine/PluginScanner.cpp
  magda/daw/engine/PluginScanner.hpp
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.hpp
  tests/CMakeLists.txt
  tests/test_app_paths.cpp
  tests/test_plugin_metadata_store.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Emit float literals from the command model exporter
  magda/agents/CMakeLists.txt
  magda/agents/command_model_data.cpp
  prototypes/command-model-poc/model/export_cpp.py
Due: check-file-size, build-check, clang-tidy-check, test-check

Emit float literals from the command model exporter (#1904)
  magda/agents/CMakeLists.txt
  magda/agents/command_model_data.cpp
  prototypes/command-model-poc/model/export_cpp.py
Due: check-file-size, build-check, clang-tidy-check, test-check

Uploaded 8 faust dsp effects
  magda/daw/audio/faust_dsp/8_stage_morphable_wavefolder.dsp
  magda/daw/audio/faust_dsp/beat_repeater.dsp
  magda/daw/audio/faust_dsp/realistic_rain_generator.dsp
  magda/daw/audio/faust_dsp/reverser.dsp
  magda/daw/audio/faust_dsp/transient_shaper.dsp
  magda/daw/audio/faust_dsp/ultimate_glitcher.dsp
  magda/daw/audio/faust_dsp/vintage_lofi_emulator.dsp
  magda/daw/audio/faust_dsp/vinyl_emulator.dsp
Due: none

Own JUCE as a direct dependency (#1883) (#1903)
  .gitmodules
  CMakeLists.txt
  setup.sh
Due: build-check

fix: address plugin metadata review feedback
  magda/daw/engine/PluginExclusions.cpp
  magda/daw/engine/PluginExclusions.hpp
  magda/daw/engine/PluginMetadataStore.cpp
  magda/daw/engine/PluginMetadataStore.hpp
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/PluginScanCoordinator.hpp
  magda/daw/engine/PluginScanner.cpp
  magda/daw/engine/PluginScanner.hpp
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/media_db/MediaDatabase.cpp
  magda/daw/media_db/MediaDatabase.hpp
  magda/daw/media_db/SqliteUtils.hpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.hpp
  tests/test_plugin_metadata_store.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Uploaded 8 faust dsp effects (#1906)
  magda/daw/audio/faust_dsp/8_stage_morphable_wavefolder.dsp
  magda/daw/audio/faust_dsp/beat_repeater.dsp
  magda/daw/audio/faust_dsp/realistic_rain_generator.dsp
  magda/daw/audio/faust_dsp/reverser.dsp
  magda/daw/audio/faust_dsp/transient_shaper.dsp
  magda/daw/audio/faust_dsp/ultimate_glitcher.dsp
  magda/daw/audio/faust_dsp/vintage_lofi_emulator.dsp
  magda/daw/audio/faust_dsp/vinyl_emulator.dsp
Due: none

fix: harden plugin metadata initialization
  magda/daw/core/SqliteUtils.hpp
  magda/daw/engine/PluginMetadataStore.cpp
  magda/daw/engine/PluginMetadataStore.hpp
  magda/daw/media_db/MediaDatabase.hpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  tests/test_plugin_metadata_store.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: serialize plugin metadata WAL setup
  magda/daw/engine/PluginMetadataStore.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: merge plugin browser metadata per key
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.hpp
  magda/daw/ui/panels/content/PluginBrowserMetadataMerge.hpp
  tests/CMakeLists.txt
  tests/test_plugin_browser_metadata_merge.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat: consolidate plugin metadata storage (#1905)
  magda/daw/core/AppPaths.cpp
  magda/daw/core/AppPaths.hpp
  magda/daw/core/SqliteUtils.hpp
  magda/daw/engine/CMakeLists.txt
  magda/daw/engine/PluginExclusions.cpp
  magda/daw/engine/PluginExclusions.hpp
  magda/daw/engine/PluginMetadataStore.cpp
  magda/daw/engine/PluginMetadataStore.hpp
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/PluginScanCoordinator.hpp
  magda/daw/engine/PluginScanner.cpp
  magda/daw/engine/PluginScanner.hpp
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/media_db/MediaDatabase.cpp
  magda/daw/media_db/MediaDatabase.hpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.hpp
  magda/daw/ui/panels/content/PluginBrowserMetadataMerge.hpp
  tests/CMakeLists.txt
  tests/test_app_paths.cpp
  tests/test_plugin_browser_metadata_merge.cpp
  tests/test_plugin_metadata_store.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Run the runtime Faust device on the wasm/wasmtime JIT
  magda/daw/CMakeLists.txt
  magda/daw/audio/DevicesDependencies.cmake
  magda/daw/audio/plugins/FaustBackend.hpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.hpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/plugins/FaustPlugin.hpp
  tests/CMakeLists.txt
  tests/test_faust_backend.cpp
  third_party/wasmtime/CMakeLists.txt
Due: check-file-size, build-check, clang-tidy-check, test-check

Sync the Faust fork to 2.87.2 and fix the Dependabot targets
  .github/dependabot.yml
Due: none

feat: decouple EditNodeBuilder device metering
  magda/daw/audio/DeviceMeteringManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Link wasmtime on the prebuilt Faust path too
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
  .github/workflows/release.yml
  magda/daw/audio/DevicesDependencies.cmake
  third_party/faust-prebuilt/CMakeLists.txt
Due: build-check

Fix the Windows link of the wasm backend
  magda/daw/audio/DevicesDependencies.cmake
  third_party/wasmtime/CMakeLists.txt
Due: build-check

feat: decouple EditNodeBuilder device metering (#1908)
  magda/daw/audio/DeviceMeteringManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Discover the runtime Faust effects instead of hardcoding them
  magda/daw/CMakeLists.txt
  magda/daw/audio/DevicesDependencies.cmake
  magda/daw/audio/FaustResources.cpp
  magda/daw/audio/FaustResources.hpp
  magda/daw/audio/faust_dsp/runtime/distortion/magda_drive.dsp
  magda/daw/audio/faust_dsp/runtime/modulation/magda_tremolo.dsp
  magda/daw/ui/components/chain/custom_ui/FaustUI.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Ship the runtime Faust effects in the Windows and Linux packages
  .github/workflows/release.yml
  magda/daw/audio/FaustResources.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.cpp
  packaging/windows/magda-installer.nsi
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: complete AudioEngine command type for GCC
  magda/daw/engine/AudioEngine.cpp
  magda/daw/engine/AudioEngine.hpp
  magda/daw/engine/CMakeLists.txt
Due: check-file-size, build-check, clang-tidy-check, test-check

Path conditions:
  check-file-size: any of: \.(cpp|hpp|h|c|cc|cxx)$
  build-check: any of: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
  clang-tidy-check: any of: \.(cpp|hpp|h)$
  test-check: any of: \.(cpp|hpp|h|c|cc|cxx)$
