Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

check-file-size:
  name: Check File Size (<2.5KLOC Policy)
  entry: .pre-commit-hooks/check-file-size.sh
  language: system
  pass_filenames: true

build-check:
  name: Build Check
  entry: make
  args:
  - debug
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-check:
  name: Clang-Tidy Check
  entry: bash
  args:
  - -c
  ...

test-check:
  name: Test Check
  entry: make
  args:
  - test
  language: system
  pass_filenames: false
  stages:
  - pre-push

Register section-scoped device ID JUCE test
  tests/CMakeLists.txt
Due: build-check

Add mixer toggle rail to session view
  magda/daw/ui/components/mixer/MixerToggleRail.cpp
  magda/daw/ui/components/mixer/MixerToggleRail.hpp
  magda/daw/ui/views/SessionView.cpp
  magda/daw/ui/views/SessionView.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Conceptual Machines branding to dialogs
  assets/conceptual-machines-badge.svg
  magda/daw/CMakeLists.txt
  magda/daw/ui/components/mixer/MixerToggleRail.cpp
  magda/daw/ui/components/mixer/MixerToggleRail.hpp
  magda/daw/ui/dialogs/AboutDialog.cpp
  magda/daw/ui/dialogs/SplashScreen.cpp
  magda/daw/ui/views/SessionView.cpp
  magda/daw/ui/views/SessionView.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Skip macOS Intel release build for prereleases (#1367)
  .github/workflows/release.yml
Due: none

Refine Conceptual Machines dialog branding
  magda/daw/ui/dialogs/AboutDialog.cpp
  magda/daw/ui/dialogs/SplashScreen.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

New Crowdin translations by GitHub Action
  lang/ja.json
  lang/ru.json
Due: none

New Crowdin translations by GitHub Action (#1344)
  lang/ja.json
  lang/ru.json
Due: none

ci: skip build/test workflows on Crowdin l10n branch
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
Due: none

Stabilize JUCE mini FX and section ID tests
  tests/test_parameter_config_dialog_juce.cpp
  tests/test_section_scoped_device_ids_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Reset transport on project boundaries
  magda/daw/project/ProjectManager.cpp
  tests/test_project_serialization.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove failing parameter config JUCE test
  tests/CMakeLists.txt
  tests/test_parameter_config_dialog_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Update manual for 0.10
  manual/docs/assets/images/mixer/mixer-view.png
  manual/docs/assets/images/session/session-view.png
  manual/docs/devices/analysis.md
  manual/docs/devices/built-in.md
  manual/docs/fx-chain.md
  manual/docs/interface/preferences.md
  manual/docs/mixer-view.md
  manual/docs/panels/browsers.md
  manual/docs/panels/drum-grid-editor.md
  manual/docs/panels/piano-roll.md
  manual/docs/reference/keyboard-shortcuts.md
  manual/docs/session-view.md
  manual/mkdocs.yml
Due: none

Fix bottom header and session drop overlays
  magda/daw/ui/panels/BottomPanel.cpp
  magda/daw/ui/panels/BottomPanel.hpp
  magda/daw/ui/views/SessionView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove bottom header debug logging
  magda/daw/ui/panels/BottomPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

New Crowdin translations by GitHub Action
  lang/ja.json
Due: none

Fix legacy project sampler UI restore
  magda/daw/project/serialization/ClipSerializer.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  tests/test_project_serialization.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Faust device Load/Edit doing nothing (unbound plugin)
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Faust MCP status strip and clean up AI panel response
  magda/agents/mcp/MCPServerManager.cpp
  magda/agents/mcp/MCPServerManager.hpp
  magda/daw/ui/components/chain/ai/AIPanelComponent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Move Faust MCP strip into the per-device AI panel; gate disclaimer to 4OSC
  magda/daw/ui/components/chain/ai/AIPanelComponent.cpp
  magda/daw/ui/components/chain/ai/AIPanelComponent.hpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Refresh device params after AI Faust generation so controls show
  magda/agents/coder_agent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Multi-turn AI conversation history + always-latest models; juce-llm 0.2.0
  magda/agents/coder_agent.cpp
  magda/agents/device_ai_agent.hpp
  magda/agents/faust_agent.cpp
  magda/agents/faust_agent.hpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.hpp
  magda/agents/sound_design_agent.cpp
  magda/daw/core/DeviceInfo.hpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/ai/AIPanelComponent.cpp
  magda/daw/ui/components/chain/ai/AIPanelComponent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Faust AI: graceful MCP-off + Opus 4.8 temperature; juce-llm 0.2.1
  magda/agents/coder_agent.cpp
  magda/agents/llm_config_utils.hpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/plugins/FaustPlugin.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Faust agent: keep retry attempts out of the conversation
  magda/agents/faust_agent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Faust device: save/load a .dsp effect library from the header
  magda/daw/ui/components/chain/custom_ui/FaustUI.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Faust UI polish: size the save icon, theme the editor Compile button
  magda/daw/ui/components/chain/custom_ui/FaustCodeEditorWindow.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Faust AI console: conversation history, auto-retry, effect library (#1383)
  magda/agents/coder_agent.cpp
  magda/agents/device_ai_agent.hpp
  magda/agents/faust_agent.cpp
  magda/agents/faust_agent.hpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.hpp
  magda/agents/mcp/MCPServerManager.cpp
  magda/agents/mcp/MCPServerManager.hpp
  magda/agents/sound_design_agent.cpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/plugins/FaustPlugin.hpp
  magda/daw/core/DeviceInfo.hpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/ai/AIPanelComponent.cpp
  magda/daw/ui/components/chain/ai/AIPanelComponent.hpp
  magda/daw/ui/components/chain/custom_ui/FaustCodeEditorWindow.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Faust device: guarantee stdfaust import + stereo, fix editor selection
  magda/agents/faust_agent.cpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/ui/components/chain/custom_ui/FaustCodeEditorWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

FaustAgent: validate [idx:N] metadata before the compile check
  magda/agents/faust_agent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

FaustAgent: stop instructing the model about channels
  magda/agents/faust_agent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Linux session sample drop and timestretch dropdown sync
  magda/daw/core/ClipInfo.hpp
  magda/daw/ui/panels/content/AudioClipPropertiesContent.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorSelection.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorState.cpp
  magda/daw/ui/views/SessionView.cpp
  magda/daw/ui/views/SessionView.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add unit tests for ClipInfo::getEffectiveTimeStretchMode()
  tests/test_audio_clip_stretch.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Move FAUST_POC_NOTES.md into docs/ and remove HANDOFF_TO_CODEX.md
  HANDOFF_TO_CODEX.md
  docs/FAUST_POC_NOTES.md
Due: none

Feat/faust device fixes (#1384)
  magda/agents/faust_agent.cpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/ui/components/chain/custom_ui/FaustCodeEditorWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Epic/faust improvements (#1387)
  magda/agents/coder_agent.cpp
  magda/agents/device_ai_agent.hpp
  magda/agents/faust_agent.cpp
  magda/agents/faust_agent.hpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.hpp
  magda/agents/mcp/MCPServerManager.cpp
  magda/agents/mcp/MCPServerManager.hpp
  magda/agents/sound_design_agent.cpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/plugins/FaustPlugin.hpp
  magda/daw/core/DeviceInfo.hpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/ai/AIPanelComponent.cpp
  magda/daw/ui/components/chain/ai/AIPanelComponent.hpp
  magda/daw/ui/components/chain/custom_ui/FaustCodeEditorWindow.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add per-track measurement layer (#1388)
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/analysis/TrackMeasurer.hpp
  magda/daw/audio/plugin_manager/PluginManager.hpp
  magda/daw/audio/plugin_manager/PluginManagerMeasurement.cpp
  magda/daw/audio/plugins/InternalPluginRegistry.cpp
  magda/daw/audio/plugins/TrackMeasurementPlugin.cpp
  magda/daw/audio/plugins/TrackMeasurementPlugin.hpp
  magda/daw/core/CMakeLists.txt
  magda/daw/core/InternalDeviceKind.cpp
  magda/daw/core/InternalDeviceKind.hpp
  magda/daw/core/TrackMeasurementManager.cpp
  magda/daw/core/TrackMeasurementManager.hpp
  magda/daw/engine/MagdaEngineBehaviour.hpp
  tests/CMakeLists.txt
  tests/test_track_measurer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add per-track measurement layer (#1388) (#1398)
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/analysis/TrackMeasurer.hpp
  magda/daw/audio/plugin_manager/PluginManager.hpp
  magda/daw/audio/plugin_manager/PluginManagerMeasurement.cpp
  magda/daw/audio/plugins/InternalPluginRegistry.cpp
  magda/daw/audio/plugins/TrackMeasurementPlugin.cpp
  magda/daw/audio/plugins/TrackMeasurementPlugin.hpp
  magda/daw/core/CMakeLists.txt
  magda/daw/core/InternalDeviceKind.cpp
  magda/daw/core/InternalDeviceKind.hpp
  magda/daw/core/TrackMeasurementManager.cpp
  magda/daw/core/TrackMeasurementManager.hpp
  magda/daw/engine/MagdaEngineBehaviour.hpp
  tests/CMakeLists.txt
  tests/test_track_measurer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Levels loudness meter device (#1389)
  assets/icons/analysis/levels.svg
  magda/daw/CMakeLists.txt
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/plugins/InternalPluginRegistry.cpp
  magda/daw/audio/plugins/LevelsPlugin.cpp
  magda/daw/audio/plugins/LevelsPlugin.hpp
  magda/daw/core/InternalDeviceKind.cpp
  magda/daw/core/InternalDeviceKind.hpp
  magda/daw/core/TrackManager.cpp
  magda/daw/engine/MagdaEngineBehaviour.hpp
  magda/daw/ui/components/chain/CMakeLists.txt
  magda/daw/ui/components/chain/custom_ui/LevelsUI.cpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.hpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
  magda/daw/ui/components/chain/slot/DeviceSlotHeaderControls.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotTraits.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotTraits.hpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  magda/daw/ui/panels/content/TrackChainContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Path conditions:
  check-file-size: any of: \.(cpp|hpp|h|c|cc|cxx)$
  build-check: any of: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
  clang-tidy-check: any of: \.(cpp|hpp|h)$
  test-check: any of: \.(cpp|hpp|h|c|cc|cxx)$
