Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Feat/launchkey note mode (#1977)
  magda/daw/api/track_api.hpp
  magda/daw/api/track_api_live.cpp
  magda/daw/api/track_api_live.hpp
  magda/daw/audio/controllers/ControllerParamWriter.cpp
  magda/daw/audio/controllers/ControllerParamWriter.hpp
  magda/daw/core/aliases/ResolverRegistry.cpp
  magda/scripting/MagdaApiLuaBindings.cpp
  manual/docs/reference/controller-profile-format.md
  manual/docs/reference/lua-scripting.md
  resources/controllers/scripts/launchkey_mini_mk4.lua
  tests/CMakeLists.txt
  tests/MockMagdaApi.hpp
  tests/test_alias_resolver.cpp
  tests/test_controller_track_level_write_juce.cpp
  tests/test_magda_api_lua_bindings.cpp
  tests/test_track_level_control_writes.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Host LV2 plugins, and drop VST2
  magda/daw/CMakeLists.txt
  magda/daw/api/remote_api_projection.cpp
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/core/DeviceInfo.hpp
  magda/daw/core/TrackManager.cpp
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/PluginScanCoordinator.hpp
  magda/daw/engine/PluginScanner.cpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/engine/plugin_scanner_main.cpp
  magda/daw/project/serialization/DawProjectXmlAdapter.cpp
  magda/daw/ui/components/chain/ChainPanel.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  magda/daw/ui/panels/content/PostFxPanelContent.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  tests/test_dsl_track_workflow.cpp
  tests/test_external_plugin_state_restore_juce.cpp
  tests/test_plugin_format.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Let LV2 win the duplicate-format preference
  lang/en.json
  magda/daw/core/PluginPreferences.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix the Linux build of the format preference control
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Host LV2 plugins, and drop VST2 (#1978)
  lang/en.json
  magda/daw/CMakeLists.txt
  magda/daw/api/remote_api_projection.cpp
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/core/DeviceInfo.hpp
  magda/daw/core/PluginPreferences.cpp
  magda/daw/core/TrackManager.cpp
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/PluginScanCoordinator.hpp
  magda/daw/engine/PluginScanner.cpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/engine/plugin_scanner_main.cpp
  magda/daw/project/serialization/DawProjectXmlAdapter.cpp
  magda/daw/ui/components/chain/ChainPanel.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.hpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  magda/daw/ui/panels/content/PostFxPanelContent.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  tests/test_dsl_track_workflow.cpp
  tests/test_external_plugin_state_restore_juce.cpp
  tests/test_plugin_format.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Move the CI compile cache from S3 to Cloudflare R2
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
  infra/sccache/.terraform.lock.hcl
  infra/sccache/README.md
  infra/sccache/main.tf
  infra/sccache/outputs.tf
  infra/sccache/variables.tf
  infra/sccache/versions.tf
Due: none

Use a dedicated R2_BUCKET secret for the R2 cache
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
  infra/sccache/README.md
Due: none

Run the R2 credential check as the first CI step
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
Due: none

Chore/sccache r2 (#1979)
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
  infra/sccache/.terraform.lock.hcl
  infra/sccache/README.md
  infra/sccache/main.tf
  infra/sccache/outputs.tf
  infra/sccache/variables.tf
  infra/sccache/versions.tf
Due: none

Convert nested retired devices, and prune master-track lanes
  magda/daw/audio/plugins/DrumGridPlugin.cpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.cpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.hpp
  magda/daw/core/LegacyDeviceAliases.cpp
  magda/daw/core/LegacyDeviceAliases.hpp
  magda/daw/engine/MagdaEngineBehaviour.hpp
  magda/daw/project/serialization/ProjectSerializer.cpp
  tests/test_drum_grid_serialization_juce.cpp
  tests/test_legacy_device_aliases.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Replace the Tracktion IR Reverb with a native convolution device
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/MagdaConvolutionPlugin.cpp
  magda/daw/audio/plugins/MagdaConvolutionPlugin.hpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.cpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.hpp
  magda/daw/audio/processors/internal/NativeDeviceProcessors.cpp
  magda/daw/audio/processors/internal/NativeDeviceProcessors.hpp
  magda/daw/audio/processors/internal/StockDeviceProcessors.cpp
  magda/daw/audio/processors/internal/StockDeviceProcessors.hpp
  magda/daw/core/LegacyDeviceAliases.cpp
  magda/daw/core/LegacyDeviceAliases.hpp
  magda/daw/ui/components/chain/custom_ui/ImpulseResponseUI.hpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  tests/CMakeLists.txt
  tests/device_param_schema.txt
  tests/test_convolution_device_juce.cpp
  tests/test_device_state_schema_juce.cpp
  tests/test_legacy_device_aliases.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Replace the Tracktion IR Reverb with a native convolution device (#1982)
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/MagdaConvolutionPlugin.cpp
  magda/daw/audio/plugins/MagdaConvolutionPlugin.hpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.cpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.hpp
  magda/daw/audio/processors/internal/NativeDeviceProcessors.cpp
  magda/daw/audio/processors/internal/NativeDeviceProcessors.hpp
  magda/daw/audio/processors/internal/StockDeviceProcessors.cpp
  magda/daw/audio/processors/internal/StockDeviceProcessors.hpp
  magda/daw/core/LegacyDeviceAliases.cpp
  magda/daw/core/LegacyDeviceAliases.hpp
  magda/daw/ui/components/chain/custom_ui/ImpulseResponseUI.hpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  tests/CMakeLists.txt
  tests/device_param_schema.txt
  tests/test_convolution_device_juce.cpp
  tests/test_device_state_schema_juce.cpp
  tests/test_legacy_device_aliases.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Document the IR Reverb in the manual
  manual/docs/devices/built-in.md
  manual/docs/devices/effects.md
Due: none

Build the update dialog's messages from one string each
  lang/en.json
  magda/daw/ui/windows/MainWindowMenus.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

New Crowdin translations by GitHub Action
  lang/ja.json
  lang/ru.json
  lang/zh.json
Due: none

Build the update dialog's messages from one string each (#1984)
  lang/en.json
  magda/daw/ui/windows/MainWindowMenus.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

i18n: sync translations from Crowdin (#1983)
  lang/ja.json
  lang/ru.json
  lang/zh.json
Due: none

Fix the defects found reviewing the 0.18.0 release diff
  magda/daw/audio/DeviceMeteringManager.cpp
  magda/daw/audio/DeviceMeteringManager.hpp
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.hpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/plugins/FaustPlugin.hpp
  magda/daw/core/LegacyDeviceAliases.cpp
  magda/daw/project/serialization/TrackSerializer.cpp
  magda/daw/ui/code/DSLTokeniser.cpp
  magda/daw/ui/components/chain/custom_ui/FaustMeterPanel.cpp
  magda/daw/ui/components/chain/custom_ui/FaustMeterPanel.hpp
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/clips/ClipComponent.hpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  tests/test_device_state_schema_juce.cpp
  tests/test_internal_plugin_registry.cpp
  tests/test_syntax_highlighting_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Pick the wasmtime asset by architecture, not just by OS
  magda/daw/audio/DevicesDependencies.cmake
Due: build-check

Close a held Launchkey pad on the track that started it
  resources/controllers/scripts/launchkey_mini_mk4.lua
  tests/test_lua_controller.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix/0.18.0 review findings (#1986)
  magda/daw/audio/DeviceMeteringManager.cpp
  magda/daw/audio/DeviceMeteringManager.hpp
  magda/daw/audio/DevicesDependencies.cmake
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.hpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/plugins/FaustPlugin.hpp
  magda/daw/core/LegacyDeviceAliases.cpp
  magda/daw/project/serialization/TrackSerializer.cpp
  magda/daw/ui/code/DSLTokeniser.cpp
  magda/daw/ui/components/chain/custom_ui/FaustMeterPanel.cpp
  magda/daw/ui/components/chain/custom_ui/FaustMeterPanel.hpp
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/clips/ClipComponent.hpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  resources/controllers/scripts/launchkey_mini_mk4.lua
  tests/test_device_state_schema_juce.cpp
  tests/test_internal_plugin_registry.cpp
  tests/test_lua_controller.cpp
  tests/test_syntax_highlighting_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Drop the Faust codegen benchmark workflow
  .github/workflows/faust-vec-bench.yml
Due: none

Dependabot: roll target-branch to dev/0.19.0
  .github/dependabot.yml
Due: none

Dependabot: roll target-branch to dev/0.19.0 (#1988)
  .github/dependabot.yml
Due: none

Add canonical ControlTarget serialization and fix lossy remote device paths
  magda/daw/api/remote_api.cpp
  magda/daw/api/remote_api.hpp
  magda/daw/api/remote_api_projection.cpp
  magda/daw/core/CMakeLists.txt
  magda/daw/core/ChainNodePath.cpp
  magda/daw/core/ChainNodePath.hpp
  magda/daw/core/ControlTarget.cpp
  magda/daw/core/ControlTarget.hpp
  magda/daw/core/aliases/AliasRegistry.cpp
  tests/test_control_target.cpp
  tests/test_remote_api_contract.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Give DeviceDto a full device path
  magda/daw/api/remote_api.cpp
  magda/daw/api/remote_api.hpp
  magda/daw/api/remote_api_projection.cpp
  tests/test_remote_api_contract.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix track-level path loss on reload and make path parsing fail closed
  magda/daw/core/ChainNodePath.cpp
  magda/daw/core/aliases/AliasRegistry.cpp
  magda/daw/project/serialization/AutomationModSerializer.cpp
  tests/test_control_target.cpp
  tests/test_project_serialization.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Require path properties and reject a present-but-null alias path
  magda/daw/core/ChainNodePath.cpp
  magda/daw/core/aliases/AliasRegistry.cpp
  tests/test_alias_registry.cpp
  tests/test_control_target.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Bound-check path integers and reject mixed path representations
  magda/daw/core/ChainNodePath.cpp
  magda/daw/core/aliases/Target.cpp
  tests/test_control_target.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Decode chain drag payloads with the canonical path serializer
  magda/daw/ui/components/chain/CMakeLists.txt
  magda/daw/ui/components/chain/ChainNodePathDrag.cpp
  magda/daw/ui/components/chain/ChainNodePathDrag.hpp
  magda/daw/ui/components/chain/ChainPanel.cpp
  magda/daw/ui/components/chain/NodeComponent.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  tests/CMakeLists.txt
  tests/test_chain_node_path_drag.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Canonical ControlTarget serialization and unambiguous remote device paths (#1991)
  magda/daw/api/remote_api.cpp
  magda/daw/api/remote_api.hpp
  magda/daw/api/remote_api_projection.cpp
  magda/daw/core/CMakeLists.txt
  magda/daw/core/ChainNodePath.cpp
  magda/daw/core/ChainNodePath.hpp
  magda/daw/core/ControlTarget.cpp
  magda/daw/core/ControlTarget.hpp
  magda/daw/core/aliases/AliasRegistry.cpp
  magda/daw/core/aliases/Target.cpp
  magda/daw/project/serialization/AutomationModSerializer.cpp
  magda/daw/ui/components/chain/CMakeLists.txt
  magda/daw/ui/components/chain/ChainNodePathDrag.cpp
  magda/daw/ui/components/chain/ChainNodePathDrag.hpp
  magda/daw/ui/components/chain/ChainPanel.cpp
  magda/daw/ui/components/chain/NodeComponent.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  tests/CMakeLists.txt
  tests/test_alias_registry.cpp
  tests/test_chain_node_path_drag.cpp
  tests/test_control_target.cpp
  tests/test_project_serialization.cpp
  tests/test_remote_api_contract.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add DeviceApi: catalogue and live device inspection on MagdaApi
  magda/daw/api/CMakeLists.txt
  magda/daw/api/device_api.hpp
  magda/daw/api/device_api_live.cpp
  magda/daw/api/device_api_live.hpp
  magda/daw/api/magda_api.hpp
  magda/daw/api/magda_api_live.hpp
  tests/CMakeLists.txt
  tests/MockMagdaApi.hpp
  tests/test_device_api.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add device mutations to DeviceApi, preserving ids across undo
  magda/daw/api/device_api.hpp
  magda/daw/api/device_api_live.cpp
  magda/daw/api/device_api_live.hpp
  magda/daw/audio/plugin_manager/PluginManager.cpp
  magda/daw/core/ChainNodePath.hpp
  magda/daw/core/TrackCommands.cpp
  magda/daw/core/TrackCommands.hpp
  magda/daw/core/TrackManagerDevices.cpp
  tests/MockMagdaApi.hpp
  tests/test_device_api.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add automation enumeration and bulk point writes to AutomationApi
  magda/daw/api/automation_api.hpp
  magda/daw/api/automation_api_live.cpp
  magda/daw/api/automation_api_live.hpp
  magda/daw/core/AutomationCommands.cpp
  magda/daw/core/AutomationCommands.hpp
  tests/CMakeLists.txt
  tests/MockMagdaApi.hpp
  tests/test_automation_api_surface.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check
