Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

check-file-size:
  name: Check File Size (<2.5KLOC Policy)
  entry: .pre-commit-hooks/check-file-size.sh
  language: system
  pass_filenames: true

build-check:
  name: Build Check
  entry: make
  args:
  - debug
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-check:
  name: Clang-Tidy Check
  entry: bash
  args:
  - -c
  ...

test-check:
  name: Test Check
  entry: make
  args:
  - test
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: route sequencer header commands through context
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
  magda/daw/ui/components/chain/slot/SequencerDeviceControls.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

refactor: keep sequencer export plugin access in manager
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

test: cover device ui context invalidation
  tests/CMakeLists.txt
  tests/test_device_ui_context.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix ThreadPool teardown use-after-free in runNextJob
  magda/daw/audio/AudioThumbnailManager.cpp
  magda/daw/audio/CompService.cpp
  magda/daw/transcription/TranscriptionService.cpp
  magda/daw/ui/panels/content/MediaDbBrowserContent.cpp
  magda/daw/ui/panels/content/MediaDbBrowserContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

refactor: isolate midi ui plugin state reads
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
  magda/daw/ui/components/chain/slot/DeviceSlotMidiActivity.cpp
  magda/daw/ui/components/chain/slot/SequencerDeviceControls.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

refactor: remove legacy custom ui plugin accessors
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
  magda/daw/ui/components/chain/slot/DeviceSlotMidiUiBinding.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix bounce writing to the global export folder instead of the project
  magda/daw/core/ClipCommands.cpp
  magda/daw/core/ClipCommands.hpp
  magda/daw/ui/windows/MainWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Clear bounce errorMessage_ at start of execute()
  magda/daw/core/ClipCommands.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Speed up MSVC builds of Mutable resources.cc lookup tables
  CMakeLists.txt
Due: build-check

Silence C4305 warning storm in Mutable resources.cc on MSVC
  CMakeLists.txt
Due: build-check

Silence benign MSVC conversion-warning floods in vendored eurorack + Faust
  CMakeLists.txt
Due: build-check

Silence benign MSVC conversion-warning flood in vendored llama.cpp
  CMakeLists.txt
Due: build-check

Silence vendored eurorack + Faust warnings on GCC/Clang too
  CMakeLists.txt
Due: build-check

Fix thrashing ccache on Linux CI (500 MB -> 3 GB)
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
Due: none

Cache MSVC Debug builds with ccache via /Z7 (Windows CI + local)
  .github/workflows/ci.yml
  CMakeLists.txt
  build.bat
Due: build-check

Make macOS CI cleanup robust against the Spotlight rm race
  .github/workflows/ci.yml
Due: none

Compile the JUCE/TE module stack once instead of per target
  magda/daw/CMakeLists.txt
  magda/scripting/CMakeLists.txt
  tests/CMakeLists.txt
Due: build-check

Fix magda_juce_tests link: build TE test hook into magda_daw
  magda/daw/CMakeLists.txt
Due: build-check

Fix MSVC Debug C1090: switch C deps (lua) to /Z7 too
  CMakeLists.txt
Due: build-check

fix: stabilize analyzer telemetry bindings
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: address analyzer and command review notes
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
  magda/daw/ui/views/MixerView.cpp
  magda/daw/ui/views/MixerView.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: stabilize master analyzer telemetry
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/mixer/MasterChannelStrip.cpp
  magda/daw/ui/components/mixer/MasterChannelStrip.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Epic/1630 decouple device uis (#1660)
  docs/issues/1631-device-ui-plugin-coupling-inventory.md
  magda/daw/core/CMakeLists.txt
  magda/daw/core/DeviceUiContext.hpp
  magda/daw/ui/components/chain/CMakeLists.txt
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.cpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.hpp
  magda/daw/ui/components/chain/custom_ui/NimbusUI.cpp
  magda/daw/ui/components/chain/custom_ui/NimbusUI.hpp
  magda/daw/ui/components/chain/custom_ui/OscilloscopeUI.cpp
  magda/daw/ui/components/chain/custom_ui/OscilloscopeUI.hpp
  magda/daw/ui/components/chain/custom_ui/PluginTelemetrySources.hpp
  magda/daw/ui/components/chain/custom_ui/SpectrumAnalyzerUI.cpp
  magda/daw/ui/components/chain/custom_ui/SpectrumAnalyzerUI.hpp
  magda/daw/ui/components/chain/custom_ui/TelemetrySources.hpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
  magda/daw/ui/components/chain/slot/DeviceSlotAnalyzerContextActions.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotMidiActivity.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotMidiUiBinding.cpp
  magda/daw/ui/components/chain/slot/SequencerDeviceControls.cpp
  magda/daw/ui/components/mixer/MasterChannelStrip.cpp
  magda/daw/ui/components/mixer/MasterChannelStrip.hpp
  magda/daw/ui/views/MixerView.cpp
  magda/daw/ui/views/MixerView.hpp
  tests/CMakeLists.txt
  tests/test_device_ui_context.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Gate Windows Release build to the self-hosted runner
  .github/workflows/ci.yml
Due: none

fix: harden stale input device routing
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/TrackController.cpp
  magda/daw/audio/midi/MidiInputRouter.cpp
  magda/daw/engine/TracktionEngineWrapperDevices.cpp
  tests/JuceTestStateGuard.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix reloaded project leaving plugins as dead husks (no UI, no audio)
  magda/daw/project/serialization/ProjectSerializer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add project-load audio diagnostics logging
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/plugin_manager/PluginManager.cpp
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/engine/TracktionEngineWrapperDevices.cpp
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
  magda/daw/project/ProjectManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Revert "Add project-load audio diagnostics logging"
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/plugin_manager/PluginManager.cpp
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/engine/TracktionEngineWrapperDevices.cpp
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
  magda/daw/project/ProjectManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

ccache: hash compiler content not mtime (fix 0% hit rate)
  .github/workflows/ci.yml
Due: none

Audio settings: list devices from the active driver type
  magda/daw/ui/dialogs/AudioSettingsDialog.cpp
  magda/daw/ui/dialogs/AudioSettingsDialog.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add regression test for active-driver device listing
  magda/daw/audio/AudioDriverUtils.hpp
  magda/daw/ui/dialogs/AudioSettingsDialog.cpp
  tests/CMakeLists.txt
  tests/test_audio_driver_type_selection_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Handle single-device audio drivers
  magda/daw/audio/AudioDriverUtils.hpp
  magda/daw/ui/dialogs/AudioSettingsDialog.cpp
  magda/daw/ui/dialogs/AudioSettingsDialog.hpp
  tests/test_audio_driver_type_selection_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Show audio device refresh indicator
  magda/daw/ui/dialogs/AudioSettingsDialog.cpp
  magda/daw/ui/dialogs/AudioSettingsDialog.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Linux ccache compiler checks
  .github/workflows/codeql.yml
  .github/workflows/juce-tests-linux.yml
Due: none

Namespace ccache keys by compiler check
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/juce-tests-linux.yml
Due: none

Decouple JUCE tests from agents
  magda/agents/llm_client_factory.hpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.hpp
  magda/agents/openai_url.hpp
  magda/daw/core/CMakeLists.txt
  magda/daw/core/LLMClientProvider.cpp
  magda/daw/core/LLMClientProvider.hpp
  magda/daw/core/ParameterDetector.cpp
  magda/daw/magda.cpp
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/panels/content/ChordPanelContent.cpp
  tests/CMakeLists.txt
Due: check-file-size, build-check, clang-tidy-check, test-check

Support prebuilt Faust/Mutable artifacts to skip source builds in CI (#1669)
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
  CMakeLists.txt
  third_party/faust-prebuilt/CMakeLists.txt
  third_party/mutable-prebuilt/CMakeLists.txt
Due: build-check

Extend prebuilt Faust/Mutable artifacts to macOS, Windows, and release CI (#1669)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  check-file-size: any of: \.(cpp|hpp|h|c|cc|cxx)$
  build-check: any of: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
  clang-tidy-check: any of: \.(cpp|hpp|h)$
  test-check: any of: \.(cpp|hpp|h|c|cc|cxx)$
