Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Source tick heights from LayoutConfig and use loopStripHeight for threshold
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimeRuler.hpp
  magda/daw/ui/components/timeline/TimelineComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Persist custom plugin paths to disk on apply
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix preferred audio device not applied on startup
  magda/daw/engine/TracktionEngineWrapperInit.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove verbose startup logging from track routing and plugin config
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/TrackController.cpp
  magda/daw/ui/dialogs/ParameterConfigDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Windows CI badge and issues section to README
  README.md
Due: none

Add release notes categorization config
  .github/release.yml
Due: none

Add macOS permission usage descriptions for mic, documents, and external volumes
  magda/daw/CMakeLists.txt
Due: build-check

Set sourceBPM from project tempo on recorded clips
  magda/daw/engine/TracktionEngineWrapperRecording.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix waveform editor ruler vanishing for clips deep in arrangement
  magda/daw/ui/panels/content/WaveformEditorContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix ModulatorEditorPanel crash from dangling liveModPtr_
  magda/daw/ui/components/chain/ModulatorEditorPanel.cpp
  magda/daw/ui/components/chain/ModulatorEditorPanel.hpp
  magda/daw/ui/components/chain/NodeComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix session clip playheads showing wrong position when multiple clips play independently
  .pre-commit-hooks/check-file-size.sh
  magda/daw/audio/SessionClipScheduler.cpp
  magda/daw/audio/SessionClipScheduler.hpp
  magda/daw/engine/AudioEngine.hpp
  magda/daw/engine/PlaybackPositionTimer.cpp
  magda/daw/engine/PlaybackPositionTimer.hpp
  magda/daw/engine/TracktionEngineWrapper.cpp
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/ui/views/SessionView.cpp
  magda/daw/ui/views/SessionView.hpp
  magda/daw/ui/windows/MainWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Update LOC thresholds: warn at 2500, fail at 3500
  .pre-commit-hooks/check-file-size.sh
Due: none

Add macOS 11 deployment target and multi-arch release builds
  .github/workflows/release.yml
  CMakeLists.txt
Due: build-check

Add video title card, update intro script, sync routing selectors on track load
  docs/scripts/01_introduction.md
  docs/video/cards/01_intro_title.html
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove video title card from magda-core (moved to magda-cloud)
  docs/video/cards/01_intro_title.html
Due: none

Add tests for looped MIDI clip split
  tests/test_midi_clip_split.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix looped MIDI clip split losing notes on right side
  magda/daw/core/ClipManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix looped MIDI clip split and editor display
  magda/daw/core/ClipManager.cpp
  magda/daw/ui/panels/content/DrumGridClipContent.cpp
  magda/daw/ui/panels/content/MidiEditorContent.cpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  tests/test_midi_clip_split.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Update piano roll note positions in real-time during clip drag in absolute mode
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add tests for piano roll note position calculation in absolute/relative modes
  tests/CMakeLists.txt
  tests/test_pianoroll_note_position.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix plugin state reset when wrapping device in rack
  magda/daw/audio/PluginManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Switch Windows CI from self-hosted to GitHub-hosted runner
  .github/workflows/ci.yml
Due: none

Address PR review comments
  magda/daw/core/ClipManager.cpp
  magda/daw/engine/PlaybackPositionTimer.cpp
  magda/daw/engine/PlaybackPositionTimer.hpp
  magda/daw/ui/panels/content/WaveformEditorContent.cpp
  magda/daw/ui/views/SessionView.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Windows CI: setup MSVC x64 environment before CMake
  .github/workflows/ci.yml
Due: none

Update README for v0.1.0 release
  README.md
Due: none

Fix all non-deprecated compiler warnings across codebase
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/ClipSynchronizer.cpp
  magda/daw/core/ClipOperations.hpp
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/LFOCurveEditorWindow.cpp
  magda/daw/ui/components/chain/NodeComponent.cpp
  magda/daw/ui/components/chain/RackComponent.cpp
  magda/daw/ui/components/common/GridOverlayComponent.hpp
  magda/daw/ui/components/common/IconSelector.cpp
  magda/daw/ui/components/common/IconSelector.hpp
  magda/daw/ui/components/mixer/MasterChannelStrip.cpp
  magda/daw/ui/components/pianoroll/NoteComponent.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.hpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/content/WaveformEditorContent.cpp
  magda/daw/ui/views/MainView.cpp
  magda/daw/ui/views/MainView.hpp
  magda/daw/ui/views/SessionView.cpp
  magda/daw/ui/windows/MainWindowMenus.cpp
  tests/test_audiobridge_track_limit_bug.cpp
  tests/test_auto_tempo.cpp
  tests/test_midi_recording_juce.cpp
  tests/test_project_serialization.cpp
  tests/test_tracktion_engine_wrapper_refactoring_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix vertical TextSlider drag sensitivity to match component height
  magda/daw/ui/components/common/TextSlider.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Kill orphan scanner processes after plugin scan completes
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/PluginScanCoordinator.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Abort plugin scan when settings dialog is closed
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Prevent plugin settings dialog from closing during scan
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Grey out all buttons in plugin settings dialog during scan
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Windows menu bar not showing
  magda/daw/ui/windows/MainWindow.cpp
  magda/daw/ui/windows/MainWindow.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix window positioning on Windows and add Windows build scripts
  build.bat
  magda/daw/ui/windows/MainWindow.cpp
  winbuild.ps1
  winbuild.sh
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix README CI badges to show per-platform labels
  README.md
Due: none

Fix rack audio routing, add peak metering, and fix SelectionManager crash
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/DeviceMeteringManager.cpp
  magda/daw/audio/DeviceMeteringManager.hpp
  magda/daw/audio/PluginManager.cpp
  magda/daw/audio/RackSyncManager.cpp
  magda/daw/audio/RackSyncManager.hpp
  magda/daw/core/SelectionManager.cpp
  magda/daw/core/SelectionManager.hpp
  magda/daw/ui/components/chain/RackComponent.cpp
  magda/daw/ui/components/chain/RackComponent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix master channel bottom panel header showing solo/pan controls
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix MIDI monitor showing activity on unselected tracks and enforce side panel minimum width
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/windows/MainWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add commit log to release notes
  .github/workflows/release.yml
Due: none

Remove redundant platform badge from README
  README.md
Due: none

Remove unused nlohmann/json dependency from README
  README.md
Due: none
