Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Move clips with Shift+arrow keys (#1957) (#1964)
  magda/daw/ui/components/tracks/TrackContentPanel.hpp
  magda/daw/ui/components/tracks/TrackContentPanelClipDrag.cpp
  magda/daw/ui/interaction/CMakeLists.txt
  magda/daw/ui/interaction/ClipNudge.hpp
  magda/daw/ui/panels/content/MidiEditorContent.hpp
  magda/daw/ui/views/MainView.hpp
  magda/daw/ui/windows/CommandIDs.hpp
  magda/daw/ui/windows/MainWindowCommands.cpp
  manual/docs/arrangement-view.md
  manual/docs/clips.md
  manual/docs/reference/keyboard-shortcuts.md
  tests/CMakeLists.txt
  tests/test_clip_nudge.cpp
  tests/test_clip_nudge_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove references to a docs page that was never written
  magda/daw/audio/EngineEnumPins.cpp
  magda/daw/core/ClipInfo.hpp
  magda/daw/core/ClipTypes.hpp
  magda/daw/core/ModInfo.hpp
  magda/daw/core/TimeStretchModes.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep collapsed panels collapsed and hide Faust UI when a slot collapses (#1963)
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotContentLayout.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotContentLayout.hpp
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
  magda/daw/ui/windows/MainWindow.cpp
  manual/docs/clips.md
Due: check-file-size, build-check, clang-tidy-check, test-check

Group delta with power and show sidechain in the collapsed device strip
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotHeaderSpec.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Delete the Faust instrument's mono voice before its factory
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Move sidechain up beside power and delta in the collapsed strip
  magda/daw/ui/components/chain/slot/DeviceSlotHeaderSpec.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Group routing controls above the modulation ones when collapsed
  magda/daw/ui/components/chain/slot/DeviceSlotHeaderSpec.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Make a header-bar click collapse instead of opening macros
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/NodeComponent.cpp
  magda/daw/ui/components/chain/NodeComponent.hpp
  magda/daw/ui/components/chain/RackComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Engine-neutral internal device state schema (pluginState v2) (#1962)
  magda/daw/CMakeLists.txt
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/EngineEnumPins.cpp
  magda/daw/audio/plugin_manager/PluginManager.cpp
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.cpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.hpp
  magda/daw/audio/racks/RackSyncManager.cpp
  magda/daw/core/ClipInfo.hpp
  magda/daw/core/ClipTypes.hpp
  magda/daw/core/DeviceState.cpp
  magda/daw/core/DeviceState.hpp
  magda/daw/core/ModInfo.hpp
  magda/daw/core/TimeStretchModes.hpp
  magda/daw/core/TrackManager.cpp
  magda/daw/core/TrackManagerDevices.cpp
  tests/CMakeLists.txt
  tests/device_param_schema.txt
  tests/test_device_param_schema_juce.cpp
  tests/test_device_state_codec.cpp
  tests/test_device_state_schema_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Restrict the collapse gesture to the header background
  magda/daw/ui/components/chain/NodeComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep collapsed panels collapsed, and fix Faust slot chrome (#1963) (#1965)
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/NodeComponent.cpp
  magda/daw/ui/components/chain/NodeComponent.hpp
  magda/daw/ui/components/chain/RackComponent.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotContentLayout.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotContentLayout.hpp
  magda/daw/ui/components/chain/slot/DeviceSlotHeaderSpec.cpp
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
  magda/daw/ui/windows/MainWindow.cpp
  manual/docs/clips.md
Due: check-file-size, build-check, clang-tidy-check, test-check

Generate the compiled Faust devices as vectorizable loops (#1397)
  .github/workflows/faust-vec-bench.yml
  CMakeLists.txt
  magda/daw/audio/DevicesDependencies.cmake
  tools/faust_vec_bench/CMakeLists.txt
  tools/faust_vec_bench/FaustVecBench.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Run the Faust codegen benchmark on pushes that touch it
  .github/workflows/faust-vec-bench.yml
Due: none

Make Faust vectorization opt-in per device, and hoist the SVF's tan
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/DevicesDependencies.cmake
  magda/daw/audio/faust_dsp/compiled/dynamics/magda_multiband.dsp
  magda/daw/audio/faust_dsp/compiled/filter/magda_filter_svf.dsp
  tools/faust_vec_bench/CMakeLists.txt
Due: build-check

Fix #1967: make the Levels hold figures resettable
  magda/daw/audio/analysis/TrackMeasurer.hpp
  magda/daw/audio/plugins/LevelsPlugin.hpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.cpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.hpp
  magda/daw/ui/components/chain/custom_ui/PluginTelemetrySources.hpp
  magda/daw/ui/components/chain/custom_ui/TelemetrySources.hpp
  tests/test_levels_ui.cpp
  tests/test_track_measurer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Style the Levels Reset button with the app theme
  magda/daw/ui/components/chain/custom_ui/LevelsUI.cpp
  tests/CMakeLists.txt
Due: check-file-size, build-check, clang-tidy-check, test-check

Move the hall reverb's coefficient maths to control rate (#1969)
  magda/daw/audio/faust_dsp/compiled/reverb/magda_reverb_hall.dsp
Due: none

Clear the reverb engines' remaining per-sample libm, and fix Room's level
  magda/daw/audio/faust_dsp/compiled/reverb/magda_reverb_hall.dsp
  magda/daw/audio/faust_dsp/compiled/reverb/magda_reverb_plate.dsp
  magda/daw/audio/faust_dsp/compiled/reverb/magda_reverb_room.dsp
Due: none

Hoist the compressor's parameter-driven libm (#1969)
  magda/daw/audio/faust_dsp/compiled/dynamics/magda_compressor.dsp
  magda/daw/audio/faust_dsp/compiled/dynamics/magda_compressor_glue.dsp
Due: none

Chore/faust submodule sync (#1968)
  .github/workflows/faust-vec-bench.yml
  CMakeLists.txt
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/DevicesDependencies.cmake
  magda/daw/audio/faust_dsp/compiled/dynamics/magda_compressor.dsp
  magda/daw/audio/faust_dsp/compiled/dynamics/magda_compressor_glue.dsp
  magda/daw/audio/faust_dsp/compiled/dynamics/magda_multiband.dsp
  magda/daw/audio/faust_dsp/compiled/filter/magda_filter_svf.dsp
  magda/daw/audio/faust_dsp/compiled/reverb/magda_reverb_hall.dsp
  magda/daw/audio/faust_dsp/compiled/reverb/magda_reverb_plate.dsp
  magda/daw/audio/faust_dsp/compiled/reverb/magda_reverb_room.dsp
  tools/faust_vec_bench/CMakeLists.txt
  tools/faust_vec_bench/FaustVecBench.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix #1967: make the Levels hold figures resettable (#1970)
  magda/daw/audio/analysis/TrackMeasurer.hpp
  magda/daw/audio/plugins/LevelsPlugin.hpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.cpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.hpp
  magda/daw/ui/components/chain/custom_ui/PluginTelemetrySources.hpp
  magda/daw/ui/components/chain/custom_ui/TelemetrySources.hpp
  tests/CMakeLists.txt
  tests/test_levels_ui.cpp
  tests/test_track_measurer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Correct for the file's sample rate in the Media Browser preview
  magda/daw/ui/panels/content/MediaExplorerContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Point the git skill at the dev branch as the usual base
  .claude/skills/git/SKILL.md
Due: none

Fix/media preview sample rate (#1972)
  .claude/skills/git/SKILL.md
  magda/daw/ui/panels/content/MediaExplorerContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Document browser preview controls, and correct how Faust runs DSP
  magda/daw/audio/plugins/BaseDevicePack.cpp
  manual/docs/devices/effects.md
  manual/docs/interface/audio-settings.md
  manual/docs/panels/browsers.md
  manual/docs/panels/media-library.md
Due: check-file-size, build-check, clang-tidy-check, test-check

Correct what the manual says about Media Explorer preview tempo
  manual/docs/panels/browsers.md
Due: none

Document the Faust Instrument, and move both Faust devices to Custom DSP
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.hpp
  manual/docs/devices/built-in.md
  manual/docs/devices/effects.md
  manual/docs/devices/faust-instrument.md
  manual/mkdocs.yml
Due: check-file-size, build-check, clang-tidy-check, test-check

Docs/faust backend and preview controls (#1974)
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.hpp
  manual/docs/devices/built-in.md
  manual/docs/devices/effects.md
  manual/docs/devices/faust-instrument.md
  manual/docs/interface/audio-settings.md
  manual/docs/panels/browsers.md
  manual/docs/panels/media-library.md
  manual/mkdocs.yml
Due: check-file-size, build-check, clang-tidy-check, test-check

Make pitch bend work on the Faust Instrument, with a Bend Range control
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.hpp
  magda/daw/audio/plugins/FaustParamInfo.cpp
  tests/device_param_schema.txt
  tests/test_faust_instrument_voice_modes_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Recentre the pitch wheel on reset
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  tests/test_faust_instrument_voice_modes_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Rename the bundled runtime synth patch to Simple Synth
  magda/daw/audio/faust_dsp/runtime/instruments/synth/simple_synth.dsp
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Document Bend Range on the Faust Instrument page
  manual/docs/devices/faust-instrument.md
Due: none

Re-initialise the Mono/Legato voice for the device sample rate
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  tests/test_faust_instrument_voice_modes_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Feat/faust instrument bend range (#1975)
  magda/daw/audio/faust_dsp/runtime/instruments/synth/simple_synth.dsp
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.hpp
  magda/daw/audio/plugins/FaustParamInfo.cpp
  manual/docs/devices/faust-instrument.md
  tests/device_param_schema.txt
  tests/test_faust_instrument_voice_modes_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add a note mode to the Launchkey Mini MK4 script
  resources/controllers/scripts/launchkey_mini_mk4.lua
Due: none

Make master and selected volume / pan writable from control surfaces
  magda/daw/api/track_api.hpp
  magda/daw/api/track_api_live.cpp
  magda/daw/api/track_api_live.hpp
  magda/daw/audio/controllers/ControllerParamWriter.cpp
  magda/daw/audio/controllers/ControllerParamWriter.hpp
  magda/daw/core/aliases/ResolverRegistry.cpp
  magda/scripting/MagdaApiLuaBindings.cpp
  tests/CMakeLists.txt
  tests/MockMagdaApi.hpp
  tests/test_alias_resolver.cpp
  tests/test_controller_track_level_write_juce.cpp
  tests/test_magda_api_lua_bindings.cpp
  tests/test_track_level_control_writes.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Document the new Lua track functions and the master.pan example
  manual/docs/reference/controller-profile-format.md
  manual/docs/reference/lua-scripting.md
Due: none
