Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

check-file-size:
  name: Check File Size (<2.5KLOC Policy)
  entry: .pre-commit-hooks/check-file-size.sh
  language: system
  pass_filenames: true

build-check:
  name: Build Check
  entry: make
  args:
  - debug
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-check:
  name: Clang-Tidy Check
  entry: bash
  args:
  - -c
  ...

test-check:
  name: Test Check
  entry: make
  args:
  - test
  language: system
  pass_filenames: false
  stages:
  - pre-push

Fix bypass overlay repaint and hide volume/SC/meter for chord engine
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Embed full chord panel in device slot, add delayed chord clear, sync on connect
  magda/daw/ui/components/chain/ChordEngineUI.hpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
  magda/daw/ui/panels/content/ChordPanelContent.cpp
  magda/daw/ui/panels/content/ChordPanelContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add 3-column chord panel with draggable blocks and fix shutdown use-after-free
  magda/daw/CMakeLists.txt
  magda/daw/ui/components/chord/ChordBlockComponent.cpp
  magda/daw/ui/components/chord/ChordBlockComponent.hpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.hpp
  magda/daw/ui/panels/BottomPanel.hpp
  magda/daw/ui/panels/content/ChordPanelContent.cpp
  magda/daw/ui/panels/content/ChordPanelContent.hpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  magda/daw/ui/windows/MainWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add chord annotation note tracking with chordGroup IDs and drop UX improvements
  assets/icons/refresh.svg
  magda/daw/CMakeLists.txt
  magda/daw/core/ClipInfo.hpp
  magda/daw/core/MidiNoteCommands.hpp
  magda/daw/project/serialization/ClipSerializer.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.hpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  magda/daw/ui/panels/content/PianoRollContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Two-step chord drop: drop sets position, click/Enter sets length
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Chord Engine documentation to manual
  .pre-commit-config.yaml
  manual/docs/assets/images/devices/chord-engine-ai.png
  manual/docs/assets/images/devices/chord-engine-browse.png
  manual/docs/assets/images/panels/chord-panel-ai.png
  manual/docs/assets/images/panels/chord-panel.png
  manual/docs/devices/built-in.md
  manual/docs/devices/chord-engine.md
  manual/docs/panels/chord-panel.md
  manual/docs/panels/editors.md
  manual/mkdocs.yml
Due: none

Add release skill and chord suggestion pipeline diagram
  .claude/skills/release/SKILL.md
  docs/chord-suggestion-pipeline.md
Due: none

Add DSL REPL tab to AI console with syntax highlighting
  assets/web/monaco-repl.html
  magda/daw/CMakeLists.txt
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
  magda/daw/ui/panels/content/DSLTokeniser.cpp
  magda/daw/ui/panels/content/DSLTokeniser.hpp
  magda/daw/ui/panels/content/ScriptingConsoleContent.cpp
  magda/daw/ui/panels/content/ScriptingConsoleContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Update AI Assistant manual with DSL tab documentation
  manual/docs/panels/ai-assistant.md
Due: none

Add groove/shuffle/swing support for MIDI clips with DSL commands
  magda/agents/dsl_interpreter.cpp
  magda/agents/dsl_interpreter.hpp
  magda/daw/audio/ClipSynchronizer.cpp
  magda/daw/core/ClipInfo.hpp
  magda/daw/core/ClipManager.cpp
  magda/daw/core/ClipManager.hpp
  magda/daw/core/ClipPropertyCommands.hpp
  magda/daw/project/serialization/ClipSerializer.cpp
  magda/daw/ui/panels/content/DSLTokeniser.cpp
  magda/daw/ui/panels/content/inspector/ClipInspector.hpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorInit.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorLayout.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorSections.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorState.cpp
  manual/docs/panels/ai-assistant.md
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix WaveInputDevice assertion spam when switching audio hardware
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperDevices.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Refresh groove dropdown immediately after creating custom templates
  magda/agents/dsl_interpreter.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add groove commands to DSL grammar and LLM tool description
  magda/agents/dsl_grammar.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix audio disruption when creating clips via DSL/AI
  magda/daw/audio/ClipSynchronizer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add /groove slash command to AI chat for unambiguous groove creation
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add slash command autocomplete in AI chat (/ triggers popup)
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Replace groove dropdown with two-column category picker popup
  magda/daw/ui/panels/content/inspector/ClipInspector.hpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorLayout.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorSections.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorState.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add standalone DSL reference page with all commands documented
  manual/docs/panels/ai-assistant.md
  manual/docs/reference/dsl.md
  manual/mkdocs.yml
Due: none

Show line numbers in DSL editor tab
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add root note support for audio clips to unlock transpose and autoPitch
  magda/daw/audio/ClipSynchronizer.cpp
  magda/daw/core/ClipInfo.hpp
  magda/daw/core/ClipManager.cpp
  magda/daw/core/ClipManager.hpp
  magda/daw/core/ClipPropertyCommands.hpp
  magda/daw/project/serialization/ClipSerializer.cpp
  magda/daw/ui/panels/content/inspector/ClipInspector.hpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorLayout.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorSections.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorState.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Revert "Add root note support for audio clips to unlock transpose and autoPitch"
  magda/daw/audio/ClipSynchronizer.cpp
  magda/daw/core/ClipInfo.hpp
  magda/daw/core/ClipManager.cpp
  magda/daw/core/ClipManager.hpp
  magda/daw/core/ClipPropertyCommands.hpp
  magda/daw/project/serialization/ClipSerializer.cpp
  magda/daw/ui/panels/content/inspector/ClipInspector.hpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorLayout.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorSections.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorState.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add global track-level modulators and macros (#801)
  magda/daw/audio/PluginManager.cpp
  magda/daw/audio/PluginManager.hpp
  magda/daw/core/SelectionManager.hpp
  magda/daw/core/TrackInfo.hpp
  magda/daw/core/TrackManager.hpp
  magda/daw/core/TrackManagerModulation.cpp
  magda/daw/project/serialization/TrackSerializer.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/ModsPanelComponent.cpp
  magda/daw/ui/components/chain/ParamLinkMenu.cpp
  magda/daw/ui/components/chain/ParamLinkMenu.hpp
  magda/daw/ui/components/chain/ParamLinkResolver.cpp
  magda/daw/ui/components/chain/ParamLinkResolver.hpp
  magda/daw/ui/components/chain/ParamModulationPainter.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.hpp
  magda/daw/ui/components/common/LinkableTextSlider.cpp
  magda/daw/ui/components/common/LinkableTextSlider.hpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  magda/daw/ui/panels/content/TrackChainContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Right-click param shows link/unlink menu; double-click edits value
  magda/daw/ui/components/chain/ParamLinkMenu.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.cpp
  magda/daw/ui/components/common/LinkableTextSlider.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix global mod editor not showing links
  magda/daw/ui/components/chain/ModulatorEditorPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix macro link menu items being falsely disabled
  magda/daw/ui/components/chain/ParamLinkMenu.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix macro link tick: check macro.links instead of legacy macro.target
  magda/daw/ui/components/chain/ParamLinkMenu.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix unlink→relink macro not working
  magda/daw/core/TrackManagerModulation.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix macro link from right-click menu on LinkableTextSlider
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/common/LinkableTextSlider.cpp
  magda/daw/ui/components/common/LinkableTextSlider.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add per-link macro controls and multi-scope param link menu
  magda/daw/core/TrackManager.hpp
  magda/daw/core/TrackManagerModulation.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
  magda/daw/ui/components/chain/MacroEditorPanel.cpp
  magda/daw/ui/components/chain/MacroEditorPanel.hpp
  magda/daw/ui/components/chain/MacroKnobComponent.cpp
  magda/daw/ui/components/chain/MacroKnobComponent.hpp
  magda/daw/ui/components/chain/MacroPanelComponent.cpp
  magda/daw/ui/components/chain/MacroPanelComponent.hpp
  magda/daw/ui/components/chain/NodeComponent.cpp
  magda/daw/ui/components/chain/NodeComponent.hpp
  magda/daw/ui/components/chain/ParamLinkMenu.cpp
  magda/daw/ui/components/chain/ParamLinkMenu.hpp
  magda/daw/ui/components/chain/ParamSlotComponent.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.hpp
  magda/daw/ui/components/common/LinkableTextSlider.cpp
  magda/daw/ui/components/common/LinkableTextSlider.hpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Improve EQ curve display with smoother rendering and better grid
  magda/daw/ui/components/chain/EqualiserUI.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix audio export rendering silence with tone generator (#611)
  magda/daw/audio/PluginManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add local LLM DSL generation POC
  poc/.gitignore
  poc/.python-version
  poc/run_all.sh
  poc/run_poc.py
Due: none

Add 3B and 1.5B models, detailed timing data per case
  poc/run_all.sh
  poc/run_poc.py
Due: none

Add M3 Max benchmark results
  poc/.gitignore
  poc/results/results.jsonl
Due: none

Add expanded quantize submenu with fixed grid values and mode selection
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.hpp
  magda/daw/ui/panels/content/DrumGridClipContent.cpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Integrate juce-llm module for LLM API support
  .gitmodules
  CMakeLists.txt
  magda/daw/CMakeLists.txt
Due: build-check

Add multi-agent LLM system with router dispatch, managed llama-server, and AI Settings dialog
  magda/agents/CMakeLists.txt
  magda/agents/command_agent.cpp
  magda/agents/command_agent.hpp
  magda/agents/compact_executor.cpp
  magda/agents/compact_executor.hpp
  magda/agents/compact_parser.cpp
  magda/agents/compact_parser.hpp
  magda/agents/daw_agent.cpp
  magda/agents/daw_agent.hpp
  magda/agents/dsl_interpreter.cpp
  magda/agents/llama_server_manager.cpp
  magda/agents/llama_server_manager.hpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.cpp
  magda/agents/llm_presets.hpp
  magda/agents/music_agent.cpp
  magda/agents/music_agent.hpp
  magda/agents/music_helpers.hpp
  magda/agents/openai_client.hpp
  magda/agents/router_agent.cpp
  magda/agents/router_agent.hpp
  magda/daw/CMakeLists.txt
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/magda.cpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
  magda/daw/ui/dialogs/AISettingsDialog.hpp
  magda/daw/ui/dialogs/PreferencesDialog.cpp
  magda/daw/ui/dialogs/PreferencesDialog.hpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
  magda/daw/ui/windows/MainWindowMenus.cpp
  magda/daw/ui/windows/MenuManager.cpp
  magda/daw/ui/windows/MenuManager.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add config status bar to AI chat console showing preset, model, and server status
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Embed llama.cpp, switch command agent to DSL, add CFG support to juce-llm
  .gitmodules
  CMakeLists.txt
  assets/icons/psychology.svg
  assets/icons/robot.svg
  assets/icons/server_play.svg
  assets/icons/server_stop.svg
  magda/agents/CMakeLists.txt
  magda/agents/command_agent.cpp
  magda/agents/command_agent.hpp
  magda/agents/compact_executor.cpp
  magda/agents/compact_executor.hpp
  magda/agents/compact_parser.cpp
  magda/agents/compact_parser.hpp
  magda/agents/daw_agent.cpp
  magda/agents/dsl_grammar.hpp
  magda/agents/dsl_interpreter.cpp
  magda/agents/dsl_interpreter.hpp
  magda/agents/llama_local_client.cpp
  magda/agents/llama_local_client.hpp
  magda/agents/llama_model_manager.cpp
  magda/agents/llama_model_manager.hpp
  magda/agents/llama_server_manager.cpp
  magda/agents/llama_server_manager.hpp
  magda/agents/llm_client_factory.hpp
  magda/agents/llm_presets.cpp
  magda/agents/music_agent.cpp
  magda/agents/music_agent.hpp
  magda/agents/router_agent.cpp
  magda/daw/CMakeLists.txt
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/magda.cpp
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  training/dataset.jsonl
  training/finetune_magda.ipynb
  training/generate_dataset.py
Due: check-file-size, build-check, clang-tidy-check, test-check

Migrate to juce-llm, add model downloader, timing, and UI polish
  magda/agents/CMakeLists.txt
  magda/agents/daw_agent.cpp
  magda/agents/daw_agent.hpp
  magda/agents/dsl_grammar.hpp
  magda/agents/dsl_interpreter.cpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.cpp
  magda/agents/model_downloader.cpp
  magda/agents/model_downloader.hpp
  magda/agents/openai_client.cpp
  magda/agents/openai_client.hpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/ChordPanelContent.cpp
  training/finetune_magda.ipynb
Due: check-file-size, build-check, clang-tidy-check, test-check

Path conditions:
  check-file-size: any of: \.(cpp|hpp|h|c|cc|cxx)$
  build-check: any of: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
  clang-tidy-check: any of: \.(cpp|hpp|h)$
  test-check: any of: \.(cpp|hpp|h|c|cc|cxx)$
