Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

docs: document 0.9.0 manual features
  manual/docs/automation.md
  manual/docs/clips.md
  manual/docs/devices/drum-grid.md
  manual/docs/interface/ai-settings.md
  manual/docs/interface/preferences.md
  manual/docs/localization.md
  manual/docs/modulation/macros.md
  manual/docs/modulation/modulators.md
  manual/docs/panels/ai-assistant.md
  manual/docs/panels/browsers.md
  manual/docs/panels/editors.md
  manual/docs/panels/media-library.md
  manual/mkdocs.yml
Due: none

docs: split editors into per-editor pages
  manual/docs/devices/drum-grid.md
  manual/docs/interface/preferences.md
  manual/docs/panels/ai-assistant.md
  manual/docs/panels/drum-grid-editor.md
  manual/docs/panels/editors.md
  manual/docs/panels/piano-roll.md
  manual/docs/panels/track-chain.md
  manual/docs/panels/waveform-editor.md
  manual/docs/time-bend.md
  manual/mkdocs.yml
Due: none

refactor: drop redundant Sample Analyzer status from Library browser
  magda/daw/ui/panels/content/MediaDbBrowserContent.cpp
  magda/daw/ui/panels/content/MediaDbBrowserContent.hpp
  manual/docs/panels/media-library.md
Due: check-file-size, build-check, clang-tidy-check, test-check

docs: refresh editor screenshots and add Media Library image
  manual/docs/assets/images/panels/drum-grid.png
  manual/docs/assets/images/panels/media-library.png
  manual/docs/assets/images/panels/piano-roll.png
  manual/docs/panels/media-library.md
Due: none

chore: new app icon (Bold-M5)
  assets/Bold-M5.png
  assets/BoldMGlyph.svg
Due: none

chore: add app-icon skill
  .claude/skills/app-icon/SKILL.md
  .claude/skills/app-icon/update-app-icon.sh
Due: none

fix: protect the master track from rename and delete
  magda/daw/core/TrackCommands.cpp
  magda/daw/core/TrackManager.cpp
  magda/daw/ui/panels/content/inspector/TrackInspector.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: sync master volume/mute across all UIs and give the track-headers master a speaker mute
  magda/daw/core/TrackManager.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat: dedicated speaker mute icons for the master, and block master deletion prompts
  assets/icons/general/speaker_off.svg
  assets/icons/general/speaker_on.svg
  magda/daw/CMakeLists.txt
  magda/daw/ui/components/mixer/MasterChannelStrip.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  magda/daw/ui/panels/content/TrackChainContent.hpp
  magda/daw/ui/panels/content/inspector/TrackInspector.cpp
  magda/daw/ui/views/MainView.cpp
  magda/daw/ui/windows/MainWindowCommands.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: master mute icon sizing and transparent background
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  magda/daw/ui/panels/content/inspector/TrackInspector.cpp
  magda/daw/ui/views/MainView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: consistent master mute icon sizing across all surfaces
  magda/daw/ui/components/mixer/MasterChannelStrip.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/content/TrackChainContent.cpp
  magda/daw/ui/panels/content/inspector/TrackInspector.cpp
  magda/daw/ui/views/MainView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat: visible border on the track-chain header M / S buttons
  magda/daw/ui/panels/content/TrackChainContent.cpp
  magda/daw/ui/themes/SmallButtonLookAndFeel.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat: index MAGDA presets into the media DB
  magda/daw/core/PresetManager.cpp
  magda/daw/core/PresetManager.hpp
  magda/daw/media_db/CMakeLists.txt
  magda/daw/media_db/MediaDatabase.hpp
  magda/daw/media_db/PresetDbIndexer.cpp
  magda/daw/media_db/PresetDbIndexer.hpp
  magda/daw/media_db/Schema.hpp
  magda/daw/ui/dialogs/PreferencesDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: rebuild track headers after creating a track with a device
  magda/daw/core/TrackCommands.cpp
  magda/daw/core/TrackManager.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

chore: add Bold M brand mark, drop old magda-m svgs
  assets/Bold M.png
  assets/magda-m-inline.svg
  assets/magda-m.svg
Due: none

chore: drop old Bold-M icon iterations, keep Bold M.png
  assets/Bold-M.png
  assets/Bold-M2.png
  assets/Bold-M3.png
  assets/Bold-M4.png
  assets/Bold-M5.png
Due: none

chore: set app icon to the new Bold M mark
  assets/app_icon.png
Due: none

feat: show the MAGDA glyph in the master inspector's colour-swatch slot
  magda/daw/CMakeLists.txt
  magda/daw/ui/panels/content/inspector/TrackInspector.cpp
  magda/daw/ui/panels/content/inspector/TrackInspector.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat: custom .mgd document icon (Bold M glyph on black)
  .github/workflows/release.yml
  assets/mgd_doc_icon.icns
  assets/mgd_doc_icon.ico
  assets/mgd_doc_icon.png
  assets/mgd_doc_icon.svg
  magda/daw/CMakeLists.txt
  packaging/windows/magda-installer.nsi
Due: build-check

fix: portable file_time conversion in PresetDbIndexer (MSVC build)
  magda/daw/media_db/PresetDbIndexer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat: index MAGDA presets into the media DB (#1325)
  magda/daw/core/PresetManager.cpp
  magda/daw/core/PresetManager.hpp
  magda/daw/media_db/CMakeLists.txt
  magda/daw/media_db/MediaDatabase.hpp
  magda/daw/media_db/PresetDbIndexer.cpp
  magda/daw/media_db/PresetDbIndexer.hpp
  magda/daw/media_db/Schema.hpp
  magda/daw/ui/dialogs/PreferencesDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Refine waveform editor scroll zoom
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/panels/content/WaveformEditorContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Make timeline mutations beat-native
  magda/daw/core/ClipManager.cpp
  magda/daw/core/ClipManager.hpp
  magda/daw/core/ClipPropertyCommands.hpp
  magda/daw/ui/components/timeline/TimelineComponent.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorSections.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorState.cpp
  magda/daw/ui/state/TimelineController.cpp
  magda/daw/ui/state/TimelineController.hpp
  magda/daw/ui/state/TimelineEvents.hpp
  magda/daw/ui/state/TimelineState.hpp
  magda/daw/ui/views/MainView.cpp
  magda/daw/ui/windows/MainWindowExport.cpp
  magda/daw/ui/windows/MainWindowMenus.cpp
  tests/test_clip_commands.cpp
  tests/test_timeline_loop_activation.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Clamp initial timeline zoom to content
  magda/daw/ui/state/TimelineController.cpp
  magda/daw/ui/state/TimelineState.hpp
  tests/test_grid_constants.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

chore: new app icon (Bold M)
  assets/Bold M.png
  assets/app_icon.png
Due: none

feat(release): MuseHub installer source bundle + fix Windows/Linux resource packaging
  .github/workflows/release.yml
  packaging/windows/magda-installer.nsi
  packaging/windows/musehub/README.md
  packaging/windows/musehub/build-installer.ps1
Due: none

fix(release): build macOS arm64-only (drop Intel)
  .github/workflows/release.yml
Due: none

fix: bundle ONNX Runtime dylib into macOS app
  magda/daw/CMakeLists.txt
Due: build-check

fix(release): build MuseHub zip under pwsh for spec-compliant paths
  .github/workflows/release.yml
Due: none

docs: document the Note Slice tool in the MIDI editors
  manual/docs/panels/drum-grid-editor.md
  manual/docs/panels/piano-roll.md
Due: none

New Crowdin translations by GitHub Action
  lang/ja.json
Due: none

New Crowdin translations by GitHub Action (#1327)
  lang/ja.json
Due: none

fix: polish media DB indexing dialog and stop-scan button
  magda/daw/ui/panels/content/MediaDbBrowserContent.cpp
  magda/daw/ui/panels/content/MediaExplorerContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

test: stop asserting specific keys stay untranslated in ja.json
  tests/test_string_table.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check
