Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Fix #997: reassign device/rack/chain IDs when duplicating tracks
  magda/daw/core/TrackManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix JUCE assertion on non-ASCII OpenAI responses
  magda/agents/command_agent.cpp
  magda/agents/daw_agent.cpp
  magda/agents/music_agent.cpp
  magda/agents/router_agent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix muted tracks showing no peak meters
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/PluginManager.cpp
  magda/daw/audio/TrackController.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Make meter client registration idempotent and self-sufficient
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/PluginManager.cpp
  magda/daw/audio/TrackController.cpp
  magda/daw/audio/TrackController.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Harden track duplication: recursive ID strip, capture state before copy
  magda/daw/audio/RackSyncManager.cpp
  magda/daw/core/TrackCommands.cpp
  magda/daw/core/TrackManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Auto-create MIDI clip when NOTE/CHORD/ARP lack clip context
  magda/agents/compact_executor.cpp
  magda/agents/compact_executor.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address PR review: fix drag clamping, dedup helper, clear multi-out pairs
  magda/daw/audio/PluginManager.cpp
  magda/daw/audio/RackSyncManager.cpp
  magda/daw/audio/TracktionHelpers.hpp
  magda/daw/core/TrackManager.cpp
  magda/daw/ui/components/tracks/TrackContentPanelClipDrag.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Split OpenAI provider into openai_chat / openai_responses
  magda/agents/command_agent.cpp
  magda/agents/compact_executor.cpp
  magda/agents/compact_parser.hpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.cpp
  magda/agents/llm_presets.hpp
  magda/agents/music_agent.cpp
  magda/agents/music_agent.hpp
  magda/daw/core/Config.cpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/ChordPanelContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add verbose logging to music agent for debugging OpenAI path
  magda/agents/music_agent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Parallelize BOTH-intent agents and tighten music execution
  magda/agents/compact_executor.cpp
  magda/agents/dsl_interpreter.cpp
  magda/daw/core/MidiNoteCommands.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Split command/music agent responsibilities and harden AI settings
  magda/agents/compact_executor.cpp
  magda/agents/compact_executor.hpp
  magda/agents/dsl_grammar.hpp
  magda/agents/dsl_interpreter.cpp
  magda/agents/dsl_interpreter.hpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.cpp
  magda/agents/llm_presets.hpp
  magda/daw/core/ClipManager.cpp
  magda/daw/core/ClipManager.hpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address PR #999 review: streamAnchor lifetime + interpreter thread assert
  magda/agents/dsl_interpreter.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix crash on project reopen with non-ASCII file paths on Windows
  magda/daw/audio/AudioThumbnailManager.cpp
  magda/daw/audio/AudioThumbnailManager.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Windows minidump parser skill and TRUST.md
  .claude/skills/crash-analysis/parse-minidump.py
  TRUST.md
Due: none

Fix O(1) comment to O(log N) after switching to std::map
  magda/daw/audio/AudioThumbnailManager.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add semi-automated Windows crash analysis pipeline
  .claude/skills/crash-analysis/SKILL.md
  .claude/skills/crash-analysis/analyze-crash.py
  .claude/skills/crash-analysis/parse-minidump.py
  .github/workflows/release.yml
  CMakeLists.txt
Due: build-check

Fix code quality warnings from PR review
  .claude/skills/crash-analysis/analyze-crash.py
  .claude/skills/crash-analysis/parse-minidump.py
Due: none

fix: use /Z7 instead of /Zi for MSVC Release builds to avoid parallel PDB write conflicts
  CMakeLists.txt
Due: build-check

fix: apply /Zi + /DEBUG only to MAGDA targets, not globally
  CMakeLists.txt
  magda/daw/CMakeLists.txt
Due: build-check

fix: switch magda_daw_app from /Zi to /Z7 for sccache compatibility
  magda/daw/CMakeLists.txt
Due: build-check

fix: build Windows release with -j 1 to avoid PDB write race with sccache
  .github/workflows/release.yml
Due: none

Add per-lane snap, arm, bypass toggles and value-grid snap
  magda/daw/audio/AutomationPlaybackEngine.cpp
  magda/daw/core/AutomationInfo.hpp
  magda/daw/core/AutomationManager.cpp
  magda/daw/core/AutomationManager.hpp
  magda/daw/core/ParameterUtils.cpp
  magda/daw/core/ParameterUtils.hpp
  magda/daw/project/serialization/AutomationModSerializer.cpp
  magda/daw/ui/components/automation/AutomationCurveEditor.cpp
  magda/daw/ui/components/automation/AutomationCurveEditor.hpp
  magda/daw/ui/components/automation/AutomationLaneComponent.hpp
  magda/daw/ui/components/common/curve/CurveEditorBase.cpp
  magda/daw/ui/components/common/curve/CurveEditorBase.hpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Check in automation snap icon assets
  assets/icons/automation/horizontal_snap.svg
  assets/icons/automation/vertical_snap.svg
Due: none

Hide tension handles on narrow segments, add 3dB grid line
  magda/daw/ui/components/automation/AutomationCurveEditor.cpp
  magda/daw/ui/components/common/curve/CurveEditorBase.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Refactor automation playback to bake into TE native curves
  magda/daw/audio/AutomationPlaybackEngine.cpp
  magda/daw/audio/AutomationPlaybackEngine.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix automation timing, double-click delete, lane visibility, and UI borders
  magda/daw/audio/AutomationPlaybackEngine.cpp
  magda/daw/audio/AutomationPlaybackEngine.hpp
  magda/daw/core/AutomationInfo.hpp
  magda/daw/ui/components/automation/AutomationCurveEditor.cpp
  magda/daw/ui/components/automation/AutomationCurveEditor.hpp
  magda/daw/ui/components/automation/AutomationLaneComponent.cpp
  magda/daw/ui/components/automation/AutomationLaneComponent.hpp
  magda/daw/ui/components/common/curve/CurveEditorBase.cpp
  magda/daw/ui/components/common/curve/CurvePointComponent.cpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
  magda/daw/ui/components/tracks/TrackContentPanel.hpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/state/TimelineState.hpp
  magda/daw/ui/views/MainView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add parameter-aware automation grid, value labels, and clean up error messages
  magda/daw/project/ProjectManager.cpp
  magda/daw/ui/components/automation/AutomationCurveEditor.cpp
  magda/daw/ui/components/automation/AutomationCurveEditor.hpp
  magda/daw/ui/components/automation/AutomationLaneComponent.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Rework automation curve drawing interaction model
  magda/daw/ui/components/automation/AutomationCurveEditor.cpp
  magda/daw/ui/components/automation/AutomationCurveEditor.hpp
  magda/daw/ui/components/automation/AutomationLaneComponent.cpp
  magda/daw/ui/components/automation/AutomationLaneComponent.hpp
  magda/daw/ui/components/common/curve/CurveEditorBase.cpp
  magda/daw/ui/components/common/curve/CurveEditorBase.hpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
  magda/daw/ui/components/tracks/TrackContentPanel.hpp
  magda/daw/ui/views/MainView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Enable automation button on track headers
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add automation playback engine and parameter picker UI (#871)
  magda/daw/CMakeLists.txt
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/AudioBridge.hpp
  magda/daw/audio/AutomationPlaybackEngine.cpp
  magda/daw/audio/AutomationPlaybackEngine.hpp
  magda/daw/core/AutomationInfo.hpp
  magda/daw/core/AutomationManager.cpp
  magda/daw/core/AutomationManager.hpp
  magda/daw/project/serialization/AutomationModSerializer.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Unify automation lane buttons and fix bypass audio sync
  assets/icons/automation/horizontal_snap.svg
  assets/icons/automation/vertical_snap.svg
  magda/daw/CMakeLists.txt
  magda/daw/audio/AutomationPlaybackEngine.cpp
  magda/daw/audio/AutomationPlaybackEngine.hpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix device parameter automation and make lane delete undoable
  magda/daw/CMakeLists.txt
  magda/daw/audio/AutomationPlaybackEngine.cpp
  magda/daw/audio/AutomationPlaybackEngine.hpp
  magda/daw/core/AutomationCommands.cpp
  magda/daw/core/AutomationCommands.hpp
  magda/daw/core/AutomationInfo.cpp
  magda/daw/core/AutomationInfo.hpp
  magda/daw/core/AutomationManager.cpp
  magda/daw/core/AutomationManager.hpp
  magda/daw/ui/components/automation/AutomationLaneComponent.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Stamp automation step as a dip cell with hard cliffs
  magda/daw/core/AutomationCommands.cpp
  magda/daw/core/AutomationCommands.hpp
  magda/daw/core/AutomationManager.cpp
  magda/daw/core/AutomationManager.hpp
  magda/daw/ui/components/automation/AutomationCurveEditor.cpp
  magda/daw/ui/components/automation/AutomationCurveEditor.hpp
  magda/daw/ui/components/common/curve/CurveEditorBase.cpp
  magda/daw/ui/components/common/curve/CurveEditorBase.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix sidechain LFO silence on project reload by using TE gate instead of assignment gating
  magda/daw/audio/PluginManager.cpp
  magda/daw/audio/RackSyncManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix automation curve right-click menu + batch simplify notifications
  assets/icons/transport/automation_off.svg
  assets/icons/transport/automation_on.svg
  magda/daw/CMakeLists.txt
  magda/daw/audio/AutomationRecordingEngine.cpp
  magda/daw/audio/AutomationRecordingEngine.hpp
  magda/daw/core/AutomationManager.cpp
  magda/daw/core/AutomationManager.hpp
  magda/daw/ui/components/automation/AutomationCurveEditor.cpp
  magda/daw/ui/components/automation/AutomationCurveEditor.hpp
  magda/daw/ui/components/automation/AutomationLaneComponent.cpp
  magda/daw/ui/components/automation/AutomationLaneComponent.hpp
  magda/daw/ui/components/common/DraggableValueLabel.cpp
  magda/daw/ui/components/common/TextSlider.hpp
  magda/daw/ui/components/common/curve/CurvePointComponent.cpp
  magda/daw/ui/components/common/curve/CurvePointComponent.hpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/TransportPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix device drag-to-reorder in FX chain (#977)
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check
