Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Add a Don't show again tick to the MAGDA engine prompt
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/dialogs/MagdaEnginePrompt.cpp
  magda/daw/ui/dialogs/MagdaEnginePrompt.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

New Crowdin translations by GitHub Action (#2260)
  lang/es.json
  lang/ja.json
  lang/ru.json
  lang/zh.json
Due: none

Offer the MAGDA engine at launch (#2901)
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/dialogs/CMakeLists.txt
  magda/daw/ui/dialogs/MagdaEnginePrompt.cpp
  magda/daw/ui/dialogs/MagdaEnginePrompt.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Use a placeholder for the sample idempotency key in the Remote API docs
  manual/docs/reference/remote-api.md
Due: none

Use a placeholder for the sample idempotency key in the Remote API docs (#2905)
  manual/docs/reference/remote-api.md
Due: none

Give a new chord track and a transcription track Poly Synth instead of 4OSC
  magda/daw/core/TrackManager.cpp
  magda/daw/transcription/TranscriptionService.cpp
  tests/devices/test_chord_audition_push_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Delete the whole selection from a track's Delete Track menu item
  magda/daw/core/TrackCommands.cpp
  magda/daw/core/TrackCommands.hpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/views/MainView.cpp
  magda/daw/ui/views/MixerView.cpp
  magda/daw/ui/views/SessionView.cpp
  magda/daw/ui/windows/MainWindowCommands.cpp
  magda/daw/ui/windows/MainWindowMenus.cpp
  tests/devices/test_structural_undo_roundtrip.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Delete every selected track from Delete Track, and default new chord tracks to Poly Synth (#2907)
  magda/daw/core/TrackCommands.cpp
  magda/daw/core/TrackCommands.hpp
  magda/daw/core/TrackManager.cpp
  magda/daw/transcription/TranscriptionService.cpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/views/MainView.cpp
  magda/daw/ui/views/MixerView.cpp
  magda/daw/ui/views/SessionView.cpp
  magda/daw/ui/windows/MainWindowCommands.cpp
  magda/daw/ui/windows/MainWindowMenus.cpp
  tests/devices/test_chord_audition_push_juce.cpp
  tests/devices/test_structural_undo_roundtrip.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Compile the Windows Release app with /Z7 so sccache can build it
  CMakeLists.txt
  magda/daw/CMakeLists.txt
Due: build-check

Run the Windows Release build on PRs into main
  .github/workflows/ci.yml
Due: none

Compile the Windows Release app with /Z7 so sccache can build it (#2908)
  .github/workflows/ci.yml
  CMakeLists.txt
  magda/daw/CMakeLists.txt
Due: build-check

Decouple saved device state restoration from Tracktion
  docs/development/te-removal.md
  magda/daw/audio/AudioThumbnailManager.cpp
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/FourOscTranslation.cpp
  magda/daw/audio/plugin_manager/PluginManager.cpp
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/SavedDeviceState.cpp
  magda/daw/audio/plugins/SavedDeviceState.hpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.cpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.hpp
  magda/daw/core/DeviceStateCommands.cpp
  magda/daw/core/TrackManager.cpp
  magda/daw/core/TrackManagerDevices.cpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/profiling/PerformanceProfiler.hpp
  magda/daw/ui/components/chain/compiled/CompiledPluginPresentation.hpp
  tests/CMakeLists.txt
  tests/PadSyncTestSupport.hpp
  tests/devices/test_convolution_device_juce.cpp
  tests/devices/test_device_state_schema_juce.cpp
  tests/devices/test_saved_device_state.cpp
  tests/project/test_legacy_corpus_migration_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Protect v0 projects with a separate v1 migration save
  docs/development/te-removal.md
  magda/daw/audio/FourOscMigration.cpp
  magda/daw/audio/FourOscMigration.hpp
  magda/daw/project/ProjectManager.cpp
  magda/daw/project/ProjectManager.hpp
  magda/daw/project/ProjectVersionMigration.hpp
  magda/daw/ui/dialogs/FourOscConversionPrompt.cpp
  magda/daw/ui/dialogs/FourOscConversionPrompt.hpp
  magda/daw/ui/windows/MainWindowMenus.cpp
  tests/CMakeLists.txt
  tests/core/test_four_osc_translation.cpp
  tests/project/test_project_version_migration.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Preserve v0 projects during v1 migration and decouple saved device state (#2923)
  docs/development/te-removal.md
  magda/daw/audio/AudioThumbnailManager.cpp
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/FourOscMigration.cpp
  magda/daw/audio/FourOscMigration.hpp
  magda/daw/audio/FourOscTranslation.cpp
  magda/daw/audio/plugin_manager/PluginManager.cpp
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/audio/plugins/SavedDeviceState.cpp
  magda/daw/audio/plugins/SavedDeviceState.hpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.cpp
  magda/daw/audio/plugins/tracktion/TracktionDeviceStateBridge.hpp
  magda/daw/core/DeviceStateCommands.cpp
  magda/daw/core/TrackManager.cpp
  magda/daw/core/TrackManagerDevices.cpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/profiling/PerformanceProfiler.hpp
  magda/daw/project/ProjectManager.cpp
  magda/daw/project/ProjectManager.hpp
  magda/daw/project/ProjectVersionMigration.hpp
  magda/daw/ui/components/chain/compiled/CompiledPluginPresentation.hpp
  magda/daw/ui/dialogs/FourOscConversionPrompt.cpp
  magda/daw/ui/dialogs/FourOscConversionPrompt.hpp
  magda/daw/ui/windows/MainWindowMenus.cpp
  tests/CMakeLists.txt
  tests/PadSyncTestSupport.hpp
  tests/core/test_four_osc_translation.cpp
  tests/devices/test_convolution_device_juce.cpp
  tests/devices/test_device_state_schema_juce.cpp
  tests/devices/test_saved_device_state.cpp
  tests/project/test_legacy_corpus_migration_juce.cpp
  tests/project/test_project_version_migration.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Preserve legacy project media until an explicit save
  docs/development/te-removal.md
  magda/daw/project/ProjectManager.cpp
  magda/daw/project/ProjectManager.hpp
  tests/project/test_project_serialization.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Decouple the shared transport API from Tracktion Engine
  docs/development/te-removal.md
  magda/daw/api/magda_api_live.hpp
  magda/daw/api/transport_api.hpp
  magda/daw/api/transport_api_live.cpp
  magda/daw/api/transport_api_live.hpp
  magda/daw/engine/CMakeLists.txt
  magda/daw/engine/MagdaAudioEngine.cpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/engine/TracktionTransportApiAdapter.cpp
  magda/daw/engine/TracktionTransportApiAdapter.hpp
  tests/CMakeLists.txt
  tests/remote/test_transport_api_engine_state.cpp
  tests/ui/test_transport_seek_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Delete the TE transport adapter and retain native transport tests
  docs/development/te-removal.md
  magda/daw/api/transport_api_live.cpp
  magda/daw/api/transport_api_live.hpp
  magda/daw/engine/CMakeLists.txt
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/engine/TracktionTransportApiAdapter.cpp
  magda/daw/engine/TracktionTransportApiAdapter.hpp
  tests/CMakeLists.txt
  tests/remote/test_transport_api_engine_state.cpp
  tests/ui/test_transport_seek_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix native tempo ripple, MIDI duration and test gates
  magda/daw/audio/CMakeLists.txt
  magda/daw/core/AutomationCommands.cpp
  magda/daw/core/CMakeLists.txt
  magda/daw/core/TempoAutomationCommands.cpp
  magda/daw/core/TempoAutomationCommands.hpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
  magda/daw/ui/windows/MainWindowCommands.cpp
  tests/CMakeLists.txt
  tests/automation/test_automation_singleton.cpp
  tests/juce_tests_main.cpp
  tests/ui/test_chord_track_file_drop_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove dead Tracktion capability fields, the legacy volume registration and TE-named helpers
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/core/PluginCapabilities.cpp
  magda/daw/core/PluginCapabilities.hpp
  magda/daw/core/TrackManager.hpp
  magda/engine/exec/RenderThreadPool.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Alias the legacy Volume/Pan device onto the Utility
  magda/daw/core/LegacyDeviceAliases.cpp
  tests/controllers/test_legacy_device_aliases.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Convert the legacy volume fader position to dB and note the dropped polarity
  magda/daw/core/LegacyDeviceAliases.cpp
  tests/controllers/test_legacy_device_aliases.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove dead Tracktion code and TE-named helpers (#2943)
  magda/daw/audio/plugins/BaseDevicePack.cpp
  magda/daw/core/LegacyDeviceAliases.cpp
  magda/daw/core/PluginCapabilities.cpp
  magda/daw/core/PluginCapabilities.hpp
  magda/daw/core/TrackManager.hpp
  magda/engine/exec/RenderThreadPool.cpp
  tests/controllers/test_legacy_device_aliases.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove Tracktion Engine references from tooling, skills, manual and docs
  .clang-format
  .claude/skills/audio-thread/SKILL.md
  .claude/skills/crash-analysis/analyze-crash.py
  .claude/skills/juce-threading/SKILL.md
  .claude/skills/te-host-parameter-writes/SKILL.md
  .claude/skills/tracktion-engine/SKILL.md
  .claude/skills/valuetree/SKILL.md
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  Makefile
  README.md
  README_CN.md
  assets/icons/fontaudio/fad-logo-tracktion.svg
  docs/README.md
  docs/architecture/native-engine.md
  docs/architecture/tracktion-parameter-writes.md
  docs/development/glossary.md
  docs/development/parity-bench.md
  docs/development/te-removal.md
  docs/development/testing-guide.md
  docs/smoke-tests/engine-switch.md
  manual/docs/devices/4osc.md
  manual/docs/devices/built-in.md
  manual/docs/devices/poly-synth.md
  manual/docs/index.md
  manual/docs/interface/controllers.md
  manual/docs/modulation/overview.md
  manual/docs/panels/ai-assistant.md
  manual/docs/reference/file-formats.md
  manual/mkdocs.yml
  scripts/find-unused-includes.py
  winbuild.ps1
  winbuild.sh
Due: none

Remove Tracktion Engine references from tooling, skills, manual and docs (#2944)
  .clang-format
  .claude/skills/audio-thread/SKILL.md
  .claude/skills/crash-analysis/analyze-crash.py
  .claude/skills/juce-threading/SKILL.md
  .claude/skills/te-host-parameter-writes/SKILL.md
  .claude/skills/tracktion-engine/SKILL.md
  .claude/skills/valuetree/SKILL.md
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  Makefile
  README.md
  README_CN.md
  assets/icons/fontaudio/fad-logo-tracktion.svg
  docs/README.md
  docs/architecture/native-engine.md
  docs/architecture/tracktion-parameter-writes.md
  docs/development/glossary.md
  docs/development/parity-bench.md
  docs/development/te-removal.md
  docs/development/testing-guide.md
  docs/smoke-tests/engine-switch.md
  manual/docs/devices/4osc.md
  manual/docs/devices/built-in.md
  manual/docs/devices/poly-synth.md
  manual/docs/index.md
  manual/docs/interface/controllers.md
  manual/docs/modulation/overview.md
  manual/docs/panels/ai-assistant.md
  manual/docs/reference/file-formats.md
  manual/mkdocs.yml
  scripts/find-unused-includes.py
  winbuild.ps1
  winbuild.sh
Due: none

Move grooves into MAGDA's own file and rename the legacy audio settings reader
  docs/development/te-removal.md
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/io/AudioIOService.cpp
  magda/daw/audio/io/AudioIOService.hpp
  magda/daw/audio/io/LegacyAudioSettings.cpp
  magda/daw/audio/io/LegacyAudioSettings.hpp
  magda/daw/core/GrooveStore.cpp
  magda/daw/core/GrooveStore.hpp
  magda/daw/engine/MagdaAudioEngine.cpp
  magda/daw/music/GrooveLibrary.hpp
  tests/CMakeLists.txt
  tests/audio/test_audio_io_service_juce.cpp
  tests/audio/test_groove_store.cpp
  tests/audio/test_legacy_audio_settings.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Move grooves into MAGDA's own file and rename the legacy audio settings reader (#2946)
  docs/development/te-removal.md
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/io/AudioIOService.cpp
  magda/daw/audio/io/AudioIOService.hpp
  magda/daw/audio/io/LegacyAudioSettings.cpp
  magda/daw/audio/io/LegacyAudioSettings.hpp
  magda/daw/core/GrooveStore.cpp
  magda/daw/core/GrooveStore.hpp
  magda/daw/engine/MagdaAudioEngine.cpp
  magda/daw/music/GrooveLibrary.hpp
  tests/CMakeLists.txt
  tests/audio/test_audio_io_service_juce.cpp
  tests/audio/test_groove_store.cpp
  tests/audio/test_legacy_audio_settings.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove stale Tracktion references from architecture docs, specs and smoke tests
  docs/architecture/dual-mode-system.md
  docs/architecture/engine-device-factory.md
  docs/architecture/modifier-lfo.md
  docs/architecture/remote-api-contract.md
  docs/architecture/remote-api-transport.md
  docs/ci/ci-setup.md
  docs/development/code-style.md
  docs/smoke-tests/loop-length-intent.md
  docs/smoke-tests/native-hardware-outputs.md
  docs/smoke-tests/recording.md
  docs/specs/hosted-plugin-parameter-control.md
  magda/daw/profiling/README.md
Due: none

Remove stale Tracktion references from architecture docs, specs and smoke tests (#2947)
  docs/architecture/dual-mode-system.md
  docs/architecture/engine-device-factory.md
  docs/architecture/modifier-lfo.md
  docs/architecture/remote-api-contract.md
  docs/architecture/remote-api-transport.md
  docs/ci/ci-setup.md
  docs/development/code-style.md
  docs/smoke-tests/loop-length-intent.md
  docs/smoke-tests/native-hardware-outputs.md
  docs/smoke-tests/recording.md
  docs/specs/hosted-plugin-parameter-control.md
  magda/daw/profiling/README.md
Due: none

Name the replaced-device variables after their type and drop the last incumbent uses
  magda/daw/api/device_api_live.cpp
  magda/daw/core/TrackCommands.cpp
  magda/daw/core/TrackManager.hpp
  magda/daw/core/TrackManagerDevices.cpp
  tests/devices/test_device_api.cpp
  tests/remote/test_remote_subscriptions.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep a MIDI downbeat played just ahead of the take on its first beat
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  tests/engine/test_midi_take_recorder.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check
