Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

docs(plugin-parameters): document Detect/Reset, fix Learn framing, add screenshots
  manual/docs/assets/images/devices/configure-parameters.png
  manual/docs/assets/images/devices/learn-mode.png
  manual/docs/plugin-parameters.md
Due: none

docs(modulation): add automation lane screenshot
  manual/docs/assets/images/modulation/automation-lane.png
  manual/docs/modulation/overview.md
Due: none

deploy: aff716b8917564dc22a7b9146540d55c68ebb6b9
  assets/images/devices/configure-parameters.png
  assets/images/devices/learn-mode.png
  assets/images/modulation/automation-lane.png
  modulation/overview/index.html
  plugin-parameters/index.html
  search/search_index.json
Due: none

fix: install lang/ directory on Windows and Linux
  CMakeLists.txt
Due: build-check

feat(aliases): PR1 - data model, normalisation, and sigil parser
  magda/daw/CMakeLists.txt
  magda/daw/core/aliases/LocalBindings.hpp
  magda/daw/core/aliases/ParamNameNormalize.cpp
  magda/daw/core/aliases/ParamNameNormalize.hpp
  magda/daw/core/aliases/ParamSigilParser.cpp
  magda/daw/core/aliases/ParamSigilParser.hpp
  magda/daw/core/aliases/Target.cpp
  magda/daw/core/aliases/Target.hpp
  tests/CMakeLists.txt
  tests/test_alias_parser.cpp
  tests/test_param_name_normalize.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(aliases): PR2 - AliasRegistry and persistence
  magda/daw/CMakeLists.txt
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/core/aliases/AliasRegistry.cpp
  magda/daw/core/aliases/AliasRegistry.hpp
  magda/daw/project/ProjectInfo.hpp
  magda/daw/project/serialization/ProjectSerializer.cpp
  tests/CMakeLists.txt
  tests/test_alias_registry.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix(release): bundle lang/ in installers and pin splash version
  .github/workflows/release.yml
  .gitignore
  CMakeLists.txt
  packaging/windows/magda-installer.nsi
Due: build-check

feat(aliases): PR3 - ResolverRegistry, ChainContext, and TargetResolver
  magda/daw/CMakeLists.txt
  magda/daw/core/aliases/ChainContext.cpp
  magda/daw/core/aliases/ChainContext.hpp
  magda/daw/core/aliases/ResolverRegistry.cpp
  magda/daw/core/aliases/ResolverRegistry.hpp
  magda/daw/core/aliases/TargetResolver.cpp
  magda/daw/core/aliases/TargetResolver.hpp
  tests/CMakeLists.txt
  tests/test_alias_resolver.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

ci(release): use __FILEDIR__ and ephemeral staging dir for Windows installer
  .github/workflows/release.yml
  .gitignore
  packaging/windows/magda-installer.nsi
Due: none

ci(release): assert lang/en.json is staged before packaging
  .github/workflows/release.yml
Due: none

feat(i18n): StringTable logs full lang/ path at startup
  magda/daw/core/StringTable.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(aliases): auto-generate @plugin.param aliases on plugin load
  magda/daw/CMakeLists.txt
  magda/daw/audio/PluginManager.cpp
  magda/daw/core/aliases/AliasRegistry.cpp
  magda/daw/core/aliases/AliasRegistry.hpp
  magda/daw/core/aliases/AutoAliasGenerator.cpp
  magda/daw/core/aliases/AutoAliasGenerator.hpp
  tests/CMakeLists.txt
  tests/test_alias_auto_gen.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(aliases): curated per-plugin alias dictionary loader + starter set
  assets/aliases/curated_compressor.json
  assets/aliases/curated_eq.json
  assets/aliases/curated_index.json
  magda/daw/CMakeLists.txt
  magda/daw/core/aliases/CuratedAliasLoader.cpp
  magda/daw/core/aliases/CuratedAliasLoader.hpp
  magda/daw/ui/views/MainView.cpp
  tests/CMakeLists.txt
  tests/test_curated_alias_loader.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(aliases): DSL/IR support for @/#/$ sigils and $-bindings
  magda/agents/compact_executor.cpp
  magda/agents/compact_executor.hpp
  magda/agents/compact_parser.cpp
  magda/agents/compact_parser.hpp
  magda/agents/dsl_interpreter.cpp
  magda/agents/dsl_interpreter.hpp
  tests/CMakeLists.txt
  tests/test_compact_executor_bindings.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(aliases): automation engine resolves alias targets via TargetResolver
  magda/agents/automation_executor.cpp
  magda/agents/automation_parser.cpp
  magda/agents/automation_parser.hpp
  tests/CMakeLists.txt
  tests/test_automation_alias_targets.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

ci(release): skip Chocolatey when Ninja/NSIS are already installed
  .github/workflows/release.yml
Due: none

ci(release): guard choco exit code and derive NSIS path from resolved location
  .github/workflows/release.yml
Due: none

refactor(aliases): collapse to single @ sigil; drop # and $
  magda/agents/automation_parser.cpp
  magda/agents/automation_parser.hpp
  magda/agents/compact_executor.cpp
  magda/agents/compact_executor.hpp
  magda/agents/compact_parser.cpp
  magda/agents/compact_parser.hpp
  magda/agents/dsl_interpreter.cpp
  magda/agents/dsl_interpreter.hpp
  magda/daw/core/aliases/ChainContext.cpp
  magda/daw/core/aliases/ChainContext.hpp
  magda/daw/core/aliases/ParamSigilParser.cpp
  magda/daw/core/aliases/ParamSigilParser.hpp
  magda/daw/core/aliases/TargetResolver.cpp
  magda/daw/core/aliases/TargetResolver.hpp
  tests/CMakeLists.txt
  tests/test_alias_parser.cpp
  tests/test_alias_resolver.cpp
  tests/test_automation_alias_targets.cpp
  tests/test_compact_executor_bindings.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: resolve lang/ via /proc/self/exe so AppImages find translations
  magda/daw/core/StringTable.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

ci(release): parallel Windows build via /FS, drop sccache on Windows release
  .github/workflows/release.yml
Due: none

review: apply /FS via add_compile_options; restrict proc/self/exe to Linux
  .github/workflows/release.yml
  CMakeLists.txt
  magda/daw/core/StringTable.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: dynamic transport panel layout with overflow menu (#1053)
  magda/daw/ui/panels/TransportPanel.cpp
  magda/daw/ui/panels/TransportPanel.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

docs: investigation notes for issue #1054
  ISSUE-1054-NOTES.md
Due: none

fix: refresh playback context after creating QWERTY MIDI device (#1054)
  ISSUE-1054-NOTES.md
  magda/daw/audio/AudioBridge.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix: defer QWERTY context refresh and skip it for persisted devices
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/AudioBridge.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix(controllers): UI sliders track external param writes
  magda/daw/audio/ControllerParamWriter.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): MIDI Learn UI -- context menu, pulsing highlight, toast
  magda/daw/CMakeLists.txt
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/ui/components/chain/ParamLinkMenu.cpp
  magda/daw/ui/components/chain/ParamLinkMenu.hpp
  magda/daw/ui/components/chain/ParamSlotComponent.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.hpp
  magda/daw/ui/components/common/LinkableTextSlider.cpp
  magda/daw/ui/components/common/LinkableTextSlider.hpp
  magda/daw/ui/components/common/Toast.cpp
  magda/daw/ui/components/common/Toast.hpp
  magda/daw/ui/views/MainView.cpp
  magda/daw/ui/windows/MainWindow.cpp
  magda/daw/ui/windows/MainWindow.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): MidiLearnCoordinator + default-scope config
  magda/daw/CMakeLists.txt
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/core/controllers/MidiLearnCoordinator.cpp
  magda/daw/core/controllers/MidiLearnCoordinator.hpp
  tests/test_midi_learn.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): MIDI Learn router session + registry reverse queries
  magda/daw/CMakeLists.txt
  magda/daw/audio/ControllerRouter.cpp
  magda/daw/audio/ControllerRouter.hpp
  magda/daw/audio/MidiLearnSession.hpp
  magda/daw/core/aliases/AliasRegistry.cpp
  magda/daw/core/aliases/AliasRegistry.hpp
  magda/daw/core/aliases/AliasReverseIndex.cpp
  magda/daw/core/aliases/AliasReverseIndex.hpp
  magda/daw/core/controllers/BindingRegistry.cpp
  magda/daw/core/controllers/BindingRegistry.hpp
  tests/CMakeLists.txt
  tests/test_midi_learn.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): registries with Config + ProjectSerializer persistence
  magda/daw/CMakeLists.txt
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/core/controllers/BindingRegistry.cpp
  magda/daw/core/controllers/BindingRegistry.hpp
  magda/daw/core/controllers/ControllerRegistry.cpp
  magda/daw/core/controllers/ControllerRegistry.hpp
  magda/daw/project/ProjectInfo.hpp
  magda/daw/project/serialization/ProjectSerializer.cpp
  tests/CMakeLists.txt
  tests/test_binding_registry.cpp
  tests/test_controller_registry.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): wire router into MidiBridge + port exclusion in AudioBridge
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/ControllerRouter.cpp
  magda/daw/audio/ControllerRouter.hpp
  magda/daw/audio/MidiBridge.cpp
  magda/daw/audio/MidiBridge.hpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/ui/views/MainView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): diagnostic logging for router + auto-gen
  magda/daw/audio/ControllerRouter.cpp
  magda/daw/core/aliases/AutoAliasGenerator.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): contextual firing + persistent mapped badge
  magda/daw/audio/ControllerRouter.cpp
  magda/daw/core/controllers/MidiLearnCoordinator.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.hpp
  magda/daw/ui/components/common/LinkableTextSlider.cpp
  magda/daw/ui/components/common/LinkableTextSlider.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): platform-neutral MIDI device matcher
  .gitignore
  magda/daw/CMakeLists.txt
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/ControllerRouter.cpp
  magda/daw/audio/ControllerRouter.hpp
  magda/daw/audio/MidiBridge.cpp
  magda/daw/audio/MidiBridge.hpp
  magda/daw/audio/MidiDeviceMatch.cpp
  magda/daw/audio/MidiDeviceMatch.hpp
  magda/daw/core/controllers/ControllerRegistry.cpp
  magda/daw/core/controllers/ControllerRegistry.hpp
  tests/CMakeLists.txt
  tests/test_midi_device_match.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): data model, source/target/binding/transform
  magda/daw/CMakeLists.txt
  magda/daw/core/controllers/Binding.cpp
  magda/daw/core/controllers/Binding.hpp
  magda/daw/core/controllers/BindingTransform.cpp
  magda/daw/core/controllers/BindingTransform.hpp
  magda/daw/core/controllers/Controller.cpp
  magda/daw/core/controllers/Controller.hpp
  tests/CMakeLists.txt
  tests/test_binding_transform.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): router + param writer + feedback stub
  magda/daw/CMakeLists.txt
  magda/daw/audio/ControllerFeedback.hpp
  magda/daw/audio/ControllerParamWriter.cpp
  magda/daw/audio/ControllerParamWriter.hpp
  magda/daw/audio/ControllerRouter.cpp
  magda/daw/audio/ControllerRouter.hpp
  tests/CMakeLists.txt
  tests/test_controller_router.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix(controllers): end-to-end CC-to-parameter dispatch
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/ControllerParamWriter.cpp
  magda/daw/core/controllers/ControllerRegistry.cpp
  magda/daw/ui/views/MainView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix(ui): MIDI Learn pulse alpha stays in [0,1]
  magda/daw/ui/components/chain/ParamSlotComponent.cpp
  magda/daw/ui/components/common/LinkableTextSlider.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

test(controllers): select track 1 in router fixture
  tests/test_controller_router.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check
