Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

check-file-size:
  name: Check File Size (<2.5KLOC Policy)
  entry: .pre-commit-hooks/check-file-size.sh
  language: system
  pass_filenames: true

build-check:
  name: Build Check
  entry: make
  args:
  - debug
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-check:
  name: Clang-Tidy Check
  entry: bash
  args:
  - -c
  ...

test-check:
  name: Test Check
  entry: make
  args:
  - test
  language: system
  pass_filenames: false
  stages:
  - pre-push

Replace SC text button with a sidechain icon
  assets/icons/general/sidechain.svg
  magda/daw/CMakeLists.txt
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
  magda/daw/ui/components/chain/slot/DeviceSlotSidechainControls.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotSidechainControls.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

chore: delete handoff file
  HANDOFF-native-instrument-ui-polish.md
Due: none

Search plugin browser aliases
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

WIP: Poly Synth output gain (unverified — build was interrupted)
  magda/daw/audio/faust_dsp/magda_polysynth.dsp
  magda/daw/audio/plugins/compiled/MagdaPolySynthCompiledPlugin.cpp
  magda/daw/audio/plugins/compiled/MagdaPolySynthCompiledPlugin.hpp
  magda/daw/ui/components/chain/custom_ui/PolySynthUI.cpp
  magda/daw/ui/components/chain/custom_ui/PolySynthUI.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix arrangement clips dropped from engine on project load
  magda/daw/project/serialization/ProjectSerializer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add regression tests for clips dropped on project load
  tests/CMakeLists.txt
  tests/test_project_load_clip_ordering_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix audio-thread use-after-free when editing DrumGrid pad chains
  magda/daw/audio/plugins/DrumGridPlugin.cpp
  magda/daw/audio/plugins/DrumGridPlugin.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Stabilize load clip ordering JUCE test
  tests/test_project_load_clip_ordering_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

DrumGrid RCU: harden snapshot handoff per review
  magda/daw/audio/plugins/DrumGridPlugin.cpp
  magda/daw/audio/plugins/DrumGridPlugin.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Register load clip ordering JUCE test
  tests/CMakeLists.txt
Due: build-check

DrumGrid RCU: defer retirement instead of busy-spinning
  magda/daw/audio/plugins/DrumGridPlugin.cpp
  magda/daw/audio/plugins/DrumGridPlugin.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Unregister flaky load-clip-ordering JUCE test from suite
  tests/CMakeLists.txt
Due: build-check

New Crowdin translations by GitHub Action
  lang/ja.json
  lang/ru.json
  lang/zh.json
Due: none

Add headless magda CLI bootstrap
  Makefile
  magda/daw/CMakeLists.txt
  magda/daw/cli/CMakeLists.txt
  magda/daw/cli/magda_cli_main.cpp
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add magda CLI command dispatch
  magda/daw/cli/magda_cli_main.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add magda CLI offline render e2e
  magda/daw/cli/magda_cli_main.cpp
  tests/CMakeLists.txt
  tests/magda_cli_headless_e2e.cmake
Due: check-file-size, build-check, clang-tidy-check, test-check

Expose MIDI note verbs through MagdaApi
  magda/daw/api/clip_api.hpp
  magda/daw/api/clip_api_live.cpp
  magda/daw/api/clip_api_live.hpp
  magda/daw/cli/magda_cli_main.cpp
  magda/scripting/MagdaApiLuaBindings.cpp
  tests/magda_cli_headless_e2e.cmake
Due: check-file-size, build-check, clang-tidy-check, test-check

Update mock ClipApi MIDI verbs
  tests/MockMagdaApi.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

manual: document 0.13 instruments (Poly Synth, FM0, drum kit, physical models, Mutable ports)
  manual/docs/devices/built-in.md
  manual/docs/devices/drum-kit.md
  manual/docs/devices/fm0.md
  manual/docs/devices/mutable.md
  manual/docs/devices/physical-models.md
  manual/docs/devices/poly-synth.md
  manual/mkdocs.yml
Due: none

Hat: resonant HP with saturation, tighter ring; Snare body 2x3 layout
  magda/daw/audio/faust_dsp/magda_hat.dsp
  magda/daw/audio/plugins/compiled/MagdaHatCompiledPlugin.cpp
  magda/daw/ui/components/chain/custom_ui/DrumVoiceUI.cpp
  manual/docs/devices/drum-kit.md
Due: check-file-size, build-check, clang-tidy-check, test-check

Address CLI PR review feedback
  magda/daw/api/project_api.hpp
  magda/daw/api/project_api_live.cpp
  magda/daw/api/project_api_live.hpp
  magda/daw/cli/magda_cli_main.cpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  tests/MockMagdaApi.hpp
  tests/magda_cli_headless_e2e.cmake
Due: check-file-size, build-check, clang-tidy-check, test-check

Address follow-up CLI review comments
  magda/daw/api/magda_api_live.hpp
  magda/daw/api/project_api_live.cpp
  magda/daw/api/project_api_live.hpp
  magda/daw/cli/magda_cli_main.cpp
  magda/daw/engine/CMakeLists.txt
  magda/daw/engine/OfflineRenderHelper.cpp
  magda/daw/engine/OfflineRenderHelper.hpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/ui/windows/MainWindowExport.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Headless magda CLI epic (#1648)
  Makefile
  magda/daw/CMakeLists.txt
  magda/daw/api/clip_api.hpp
  magda/daw/api/clip_api_live.cpp
  magda/daw/api/clip_api_live.hpp
  magda/daw/api/magda_api_live.hpp
  magda/daw/api/project_api.hpp
  magda/daw/api/project_api_live.cpp
  magda/daw/api/project_api_live.hpp
  magda/daw/cli/CMakeLists.txt
  magda/daw/cli/magda_cli_main.cpp
  magda/daw/engine/CMakeLists.txt
  magda/daw/engine/OfflineRenderHelper.cpp
  magda/daw/engine/OfflineRenderHelper.hpp
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/ui/windows/MainWindowExport.cpp
  magda/scripting/MagdaApiLuaBindings.cpp
  tests/CMakeLists.txt
  tests/MockMagdaApi.hpp
  tests/magda_cli_headless_e2e.cmake
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Windows code signing via Certum cloud cert (SimplySign)
  .claude/skills/windows-signing/SKILL.md
  .github/workflows/release.yml
  packaging/windows/sign-release.ps1
Due: none

Restrict signing cert pre-check to CurrentUser\My
  packaging/windows/sign-release.ps1
Due: none

docs: inventory device UI plugin coupling
  docs/issues/1631-device-ui-plugin-coupling-inventory.md
Due: none

feat: add device UI context interfaces
  magda/daw/core/CMakeLists.txt
  magda/daw/core/DeviceUiContext.hpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Build Windows release on the self-hosted runner
  .github/workflows/release.yml
Due: none

refactor: route custom UI parameter writes through context
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Persist vcpkg clone + binary cache on the self-hosted runner
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

refactor: route analyzer telemetry through UI context
  magda/daw/core/DeviceUiContext.hpp
  magda/daw/ui/components/chain/CMakeLists.txt
  magda/daw/ui/components/chain/custom_ui/LevelsUI.cpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.hpp
  magda/daw/ui/components/chain/custom_ui/NimbusUI.cpp
  magda/daw/ui/components/chain/custom_ui/NimbusUI.hpp
  magda/daw/ui/components/chain/custom_ui/OscilloscopeUI.cpp
  magda/daw/ui/components/chain/custom_ui/OscilloscopeUI.hpp
  magda/daw/ui/components/chain/custom_ui/PluginTelemetrySources.hpp
  magda/daw/ui/components/chain/custom_ui/SpectrumAnalyzerUI.cpp
  magda/daw/ui/components/chain/custom_ui/SpectrumAnalyzerUI.hpp
  magda/daw/ui/components/chain/custom_ui/TelemetrySources.hpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceSlotAnalyzerContextActions.cpp
  magda/daw/ui/components/mixer/MasterChannelStrip.cpp
  magda/daw/ui/views/MixerView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Merge Windows build + sign into one job; drop MuseHub source bundle
  .github/workflows/release.yml
Due: none

Share vcpkg binary cache between local builds and CI
  winbuild.sh
Due: none

refactor: route sampler UI commands through context
  magda/daw/core/DeviceUiContext.hpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

refactor: route impulse response load through context
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

refactor: invalidate custom ui bindings on detach
  magda/daw/core/DeviceUiContext.hpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.cpp
  magda/daw/ui/components/chain/slot/DeviceCustomUIManager.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Path conditions:
  check-file-size: any of: \.(cpp|hpp|h|c|cc|cxx)$
  build-check: any of: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
  clang-tidy-check: any of: \.(cpp|hpp|h)$
  test-check: any of: \.(cpp|hpp|h|c|cc|cxx)$
