Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Add macOS and Windows self-hosted runner CI jobs
  .github/workflows/ci.yml
Due: none

Add Windows self-hosted runner setup instructions
  docs/windows-runner-setup.md
Due: none

Use explicit macOS label for self-hosted runner matching
  .github/workflows/ci.yml
Due: none

Fix Windows runner setup to use repo URL instead of org URL
  docs/windows-runner-setup.md
Due: none

Use MSVC-compatible compiler flags on Windows
  CMakeLists.txt
Due: build-check

docs(windows-runner): fix service control and .env for MSVC/SDK
  docs/windows-runner-setup.md
Due: none

Use checkout@v4 for self-hosted macOS runner compatibility
  .github/workflows/ci.yml
Due: none

Fix macOS self-hosted runner checkout by separating submodule init
  .github/workflows/ci.yml
Due: none

Fix MSVC C2440 ambiguity in copyPropertiesToCachedValues with String type
  magda/daw/audio/MagdaSamplerPlugin.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Windows test timeout and check saveProjectAs return values
  .github/workflows/ci.yml
  tests/test_project_serialization.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Windows CI: skip failing tests, fix hardcoded Unix path
  .github/workflows/ci.yml
  tests/test_audio_export.cpp
  tests/test_project_serialization.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add --abort flag and diagnostics for Windows test debugging
  .github/workflows/ci.yml
Due: none

Fix Windows build and test failures
  magda/daw/project/serialization/ProjectSerializer.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Publish release with artifacts instead of creating draft
  .github/workflows/release.yml
Due: none

Skip CI workflow on tag pushes
  .github/workflows/ci.yml
Due: none

Fix session mode play in non-session views and multi-out menu ticks
  magda/daw/core/TrackManager.cpp
  magda/daw/core/TrackManager.hpp
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/windows/MainWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix velocity lane hit-test: snap to nearest note start
  magda/daw/ui/components/pianoroll/VelocityLaneComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix velocity zoom sync, loop label UX, session loop wrap, and window title
  magda/daw/audio/ClipSynchronizer.cpp
  magda/daw/audio/SessionClipScheduler.cpp
  magda/daw/audio/SessionClipScheduler.hpp
  magda/daw/ui/panels/TransportPanel.cpp
  magda/daw/ui/panels/content/MidiEditorContent.cpp
  magda/daw/ui/windows/MainWindow.cpp
  magda/daw/ui/windows/MainWindow.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Unify MIDI drawer across piano roll and drum grid, persist drawer state
  magda/daw/ui/panels/content/DrumGridClipContent.cpp
  magda/daw/ui/panels/content/DrumGridClipContent.hpp
  magda/daw/ui/panels/content/MidiEditorContent.cpp
  magda/daw/ui/panels/content/MidiEditorContent.hpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  magda/daw/ui/panels/content/PianoRollContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add double-click on loop strip to zoom to loop region, fix loop marker alignment
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimeRuler.hpp
  magda/daw/ui/panels/content/DrumGridClipContent.cpp
  magda/daw/ui/panels/content/MidiEditorContent.cpp
  magda/daw/ui/panels/content/MidiEditorContent.hpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  magda/daw/ui/panels/content/WaveformEditorContent.cpp
  magda/daw/ui/panels/content/WaveformEditorContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix loop marker drag flickering by batching property updates
  magda/daw/core/ClipManager.cpp
  magda/daw/core/ClipManager.hpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.cpp
  magda/daw/ui/panels/content/MidiEditorContent.cpp
  magda/daw/ui/panels/content/WaveformEditorContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix loop marker drag flickering by deferring ClipManager commit to mouseUp
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimeRuler.hpp
  magda/daw/ui/panels/content/DrumGridClipContent.cpp
  magda/daw/ui/panels/content/DrumGridClipContent.hpp
  magda/daw/ui/panels/content/MidiEditorContent.cpp
  magda/daw/ui/panels/content/MidiEditorContent.hpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  magda/daw/ui/panels/content/PianoRollContent.hpp
  magda/daw/ui/panels/content/WaveformEditorContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix phase marker drag flickering by deferring ClipManager commit to mouseUp
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimeRuler.hpp
  magda/daw/ui/panels/content/MidiEditorContent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix phase marker not visible on grid during first drag
  magda/daw/ui/components/pianoroll/PhaseMarker.hpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.cpp
  magda/daw/ui/components/pianoroll/PianoRollGridComponent.hpp
  magda/daw/ui/panels/content/DrumGridClipContent.cpp
  magda/daw/ui/panels/content/DrumGridClipContent.hpp
  magda/daw/ui/panels/content/MidiEditorContent.cpp
  magda/daw/ui/panels/content/MidiEditorContent.hpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  magda/daw/ui/panels/content/PianoRollContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix loop strip layout: position above tick area, color border ticks
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimeRuler.hpp
  magda/daw/ui/components/timeline/TimelineComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Refine loop strip and ruler interactions
  magda/daw/ui/components/timeline/LoopMarkerInteraction.cpp
  magda/daw/ui/components/timeline/LoopMarkerInteraction.hpp
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimelineComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add gradient fill to loop strip for visual polish
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimelineComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Derive app version from git tags via CMake configure
  CMakeLists.txt
  magda/daw/CMakeLists.txt
  magda/daw/magda.hpp
  magda/daw/version.hpp.in
Due: check-file-size, build-check, clang-tidy-check, test-check

Add magda.land link to online manual
  manual/docs/index.md
  manual/mkdocs.yml
Due: none

Add GitHub issue templates for bug, crash, and feature reports
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/crash_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Fix double-click zoom Y hit-test and hoist pixelToBeat out of loop
  magda/daw/ui/components/pianoroll/VelocityLaneComponent.cpp
  magda/daw/ui/components/timeline/TimeRuler.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix DMG creation failing on CI due to Finder AppleScript error
  .github/workflows/release.yml
Due: none

Fetch notarization log on failure for debugging
  .github/workflows/release.yml
Due: none

Speed up CI builds with sccache and parallel jobs
  .github/workflows/release.yml
Due: none

Make notarization output parsing robust against pipefail
  .github/workflows/release.yml
Due: none

Fix macOS DMG structure and Windows sccache install
  .github/workflows/release.yml
Due: none

Reorder transport bar: group navigation buttons together
  .github/workflows/codeql.yml
  magda/daw/ui/panels/TransportPanel.cpp
  manual/docs/assets/images/transport/transport-bar.png
  manual/docs/transport.md
Due: check-file-size, build-check, clang-tidy-check, test-check

Revert "Reorder transport bar: group navigation buttons together (#833)"
  .github/workflows/codeql.yml
  magda/daw/ui/panels/TransportPanel.cpp
  manual/docs/assets/images/transport/transport-bar.png
  manual/docs/transport.md
Due: check-file-size, build-check, clang-tidy-check, test-check

Restrict loop marker interaction to the loop strip zone
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimelineComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Consolidate loop strip constant and fix cursor edge cases
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/timeline/TimeRuler.hpp
  magda/daw/ui/components/timeline/TimelineComponent.cpp
  magda/daw/ui/layout/LayoutConfig.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check
