Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

check-file-size:
  name: Check File Size (<2.5KLOC Policy)
  entry: .pre-commit-hooks/check-file-size.sh
  language: system
  pass_filenames: true

build-check:
  name: Build Check
  entry: make
  args:
  - debug
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-check:
  name: Clang-Tidy Check
  entry: bash
  args:
  - -c
  ...

test-check:
  name: Test Check
  entry: make
  args:
  - test
  language: system
  pass_filenames: false
  stages:
  - pre-push

Diff a feature branch from its branch point on every push
  .github/workflows/ci.yml
Due: none

Deepen HEAD before looking for the branch point
  .github/workflows/ci.yml
Due: none

Parse ninja dependency paths on Windows too
  .pre-commit-hooks/tus-for-headers.py
Due: none

One set of note rules, and one thing a reading promises
  magda/engine/CMakeLists.txt
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  magda/engine/io/TakeFileSink.hpp
  magda/engine/io/TakeNotes.hpp
  magda/engine/io/TakeRecorder.cpp
  magda/engine/io/TakeRecorder.hpp
  magda/engine/tap/RecordTap.cpp
  magda/engine/tap/RecordTap.hpp
  tests/engine/test_record_tap.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Resolve compile database membership in Python, not a grep
  .pre-commit-hooks/clang-tidy.sh
  .pre-commit-hooks/tus-for-headers.py
Due: none

Annotate the resolver, and fix what that surfaced
  .pre-commit-hooks/tus-for-headers.py
Due: none

Let the tap outlive the take, and stop handing back a reading nobody can trust
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  magda/engine/io/TakeRecorder.cpp
  magda/engine/io/TakeRecorder.hpp
  magda/engine/tap/RecordTap.hpp
  tests/engine/test_midi_take_recorder.cpp
  tests/engine/test_record_tap.cpp
  tests/engine/test_take_recorder.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Take the pass length inside the check that validates the reading
  magda/engine/tap/RecordTap.cpp
  magda/engine/tap/RecordTap.hpp
  tests/engine/test_record_tap.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Split main up, and carry sources as Path
  .pre-commit-hooks/tus-for-headers.py
Due: none

Build the scope paths from components
  .pre-commit-hooks/tus-for-headers.py
Due: none

Install the pre-push hooks the documented setup skipped
  .pre-commit-config.yaml
  .pre-commit-hooks/tus-for-headers.py
  docs/development/code-style.md
  setup.sh
Due: none

Resolve the Python interpreter the way setup.sh does
  .pre-commit-hooks/clang-tidy.sh
Due: none

Fence the writer where the revision turns odd
  magda/engine/tap/RecordTap.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep the clang-tidy fetches out of the submodules
  .github/workflows/ci.yml
Due: none

Report the recording pass without a poll (#2527)
  magda/engine/CMakeLists.txt
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  magda/engine/io/RecordingFeed.hpp
  magda/engine/io/TakeFileSink.hpp
  magda/engine/io/TakeNotes.hpp
  magda/engine/io/TakeRecorder.cpp
  magda/engine/io/TakeRecorder.hpp
  magda/engine/plan/PlanCompiler.cpp
  magda/engine/plan/RenderPlan.cpp
  magda/engine/plan/RenderPlan.hpp
  magda/engine/tap/RecordTap.cpp
  magda/engine/tap/RecordTap.hpp
  tests/CMakeLists.txt
  tests/engine/test_live_input.cpp
  tests/engine/test_midi_take_recorder.cpp
  tests/engine/test_record_tap.cpp
  tests/engine/test_take_recorder.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Make the clang-tidy pre-push hook actually fail (#2526)
  .clang-tidy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/clang-tidy.sh
  .pre-commit-hooks/tus-for-headers.py
  CMakeLists.txt
  docs/development/code-style.md
  setup.sh
Due: build-check

Make the clang-tidy hook one Python script, and make its header half work
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/clang-tidy.sh
  .pre-commit-hooks/clang_tidy.py
  .pre-commit-hooks/tus-for-headers.py
  docs/development/code-style.md
Due: none

Run clang-tidy on the macOS runner
  .github/workflows/ci.yml
Due: none

Make the clang-tidy hook one Python script, and make its header half work (#2529)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/clang-tidy.sh
  .pre-commit-hooks/clang_tidy.py
  .pre-commit-hooks/tus-for-headers.py
  docs/development/code-style.md
Due: none

Sweep the last five bugprone checks and make the tier binding
  .clang-tidy
  .pre-commit-hooks/clang_tidy.py
  magda/agents/command_model.cpp
  magda/agents/llama_model_manager.cpp
  magda/daw/core/controllers/BindingRegistry.cpp
  magda/daw/ui/components/chain/custom_ui/FMUI.cpp
  magda/daw/ui/components/chain/custom_ui/PolySynthUI.cpp
  magda/daw/ui/components/waveform/ClipWaveformPainter.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Free the playback context before the test engine closes its device
  tests/SharedTestEngine.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Linux build compatibility and add audio startup diagnostics (#2528)
  CMakeLists.txt
  README.md
  docs/development/linux-builds.md
  magda/daw/engine/TracktionEngineWrapperInit.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep the audio-device warning asynchronous
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Download sccache to a file, and retry it
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
Due: none

Sweep the last five bugprone checks and make the tier binding (#2530)
  .clang-tidy
  .github/workflows/ci.yml
  .github/workflows/juce-tests-linux.yml
  .pre-commit-hooks/clang_tidy.py
  magda/agents/command_model.cpp
  magda/agents/llama_model_manager.cpp
  magda/daw/core/controllers/BindingRegistry.cpp
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
  magda/daw/ui/components/chain/custom_ui/FMUI.cpp
  magda/daw/ui/components/chain/custom_ui/PolySynthUI.cpp
  magda/daw/ui/components/waveform/ClipWaveformPainter.cpp
  tests/SharedTestEngine.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Drop 37 unused includes
  magda/daw/audio/plugins/MagdaConvolutionPlugin.cpp
  magda/daw/audio/plugins/MidiStrumPlugin.cpp
  magda/daw/audio/processors/internal/MidiDeviceProcessors.cpp
  magda/daw/audio/processors/internal/StockDeviceProcessors.cpp
  magda/daw/core/AppPaths.cpp
  magda/daw/core/AutomationManager.cpp
  magda/daw/core/ClipManager.cpp
  magda/daw/core/GainStagingManager.cpp
  magda/daw/core/LegacyDeviceAliases.cpp
  magda/daw/core/ParameterDetector.cpp
  magda/daw/core/TrackManager.cpp
  magda/daw/core/TrackManagerDevices.cpp
  magda/daw/core/TrackManagerPads.cpp
  magda/daw/core/controllers/BindingRegistry.cpp
  magda/daw/engine/PluginMetadataStore.cpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/engine/TracktionEngineWrapperTracks.cpp
  magda/daw/music/ChordEngine.cpp
  magda/daw/music/ChordSuggestionEngine.cpp
  magda/daw/ui/components/chain/compiled/CompiledClipperCurveView.cpp
  magda/daw/ui/components/chain/compiled/CompiledLimiterCurveView.cpp
  magda/daw/ui/components/chain/compiled/CompiledPluginPresentation.cpp
  magda/daw/ui/components/chain/custom_ui/FMUI.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.cpp
  magda/daw/ui/components/chain/custom_ui/ImpulseResponseUI.cpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.cpp
  magda/daw/ui/components/chain/custom_ui/PolyStepSequencerUI.cpp
  magda/daw/ui/components/chain/custom_ui/SpectrumAnalyzerUI.cpp
  magda/daw/ui/components/chain/custom_ui/StepSequencerUI.cpp
  magda/daw/ui/components/chain/custom_ui/ToneGeneratorUI.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Put back fstream and sstream, which only libc++ made look unused
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Drop 37 unused includes (#2531)
  magda/daw/audio/plugins/MagdaConvolutionPlugin.cpp
  magda/daw/audio/plugins/MidiStrumPlugin.cpp
  magda/daw/audio/processors/internal/MidiDeviceProcessors.cpp
  magda/daw/audio/processors/internal/StockDeviceProcessors.cpp
  magda/daw/core/AppPaths.cpp
  magda/daw/core/AutomationManager.cpp
  magda/daw/core/ClipManager.cpp
  magda/daw/core/GainStagingManager.cpp
  magda/daw/core/LegacyDeviceAliases.cpp
  magda/daw/core/ParameterDetector.cpp
  magda/daw/core/TrackManager.cpp
  magda/daw/core/TrackManagerDevices.cpp
  magda/daw/core/TrackManagerPads.cpp
  magda/daw/core/controllers/BindingRegistry.cpp
  magda/daw/engine/PluginMetadataStore.cpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/engine/TracktionEngineWrapperTracks.cpp
  magda/daw/music/ChordEngine.cpp
  magda/daw/music/ChordSuggestionEngine.cpp
  magda/daw/ui/components/chain/compiled/CompiledClipperCurveView.cpp
  magda/daw/ui/components/chain/compiled/CompiledLimiterCurveView.cpp
  magda/daw/ui/components/chain/compiled/CompiledPluginPresentation.cpp
  magda/daw/ui/components/chain/custom_ui/FMUI.cpp
  magda/daw/ui/components/chain/custom_ui/FaustUI.cpp
  magda/daw/ui/components/chain/custom_ui/ImpulseResponseUI.cpp
  magda/daw/ui/components/chain/custom_ui/LevelsUI.cpp
  magda/daw/ui/components/chain/custom_ui/PolyStepSequencerUI.cpp
  magda/daw/ui/components/chain/custom_ui/SpectrumAnalyzerUI.cpp
  magda/daw/ui/components/chain/custom_ui/StepSequencerUI.cpp
  magda/daw/ui/components/chain/custom_ui/ToneGeneratorUI.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Put back five checks that only a newer clang-tidy has
  .clang-tidy
  .pre-commit-hooks/clang_tidy.py
Due: none

Put back five checks that only a newer clang-tidy has (#2532)
  .clang-tidy
  .pre-commit-hooks/clang_tidy.py
Due: none

Fix the three ternaries worth fixing, stop the check crying wolf
  .clang-tidy
  magda/daw/core/TrackCommands.cpp
  magda/daw/media_db/MediaDbIndexer.cpp
  magda/daw/media_db/MediaDbQuery.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Record into a slot on the beat its launch fires
  magda/engine/CMakeLists.txt
  magda/engine/clip/ClipSnapshot.hpp
  magda/engine/clip/ClipSnapshotCompiler.cpp
  magda/engine/clip/ClipSnapshotCompiler.hpp
  magda/engine/exec/EngineSession.cpp
  magda/engine/exec/EngineSession.hpp
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  magda/engine/io/TakeRecorder.cpp
  magda/engine/io/TakeRecorder.hpp
  magda/engine/launch/LaunchHandle.cpp
  magda/engine/launch/LaunchHandle.hpp
  magda/engine/launch/SessionCapture.cpp
  magda/engine/launch/SessionCapture.hpp
  magda/engine/launch/SessionLauncher.cpp
  magda/engine/launch/SessionLauncher.hpp
  magda/engine/launch/SlotRuns.hpp
  magda/engine/tap/RecordTap.hpp
  tests/CMakeLists.txt
  tests/engine/test_clip_snapshot.cpp
  tests/engine/test_launch_handle.cpp
  tests/engine/test_launch_handle_lifetime.cpp
  tests/engine/test_midi_take_recorder.cpp
  tests/engine/test_session_capture.cpp
  tests/engine/test_take_recorder.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Give a run's lifecycle an end for every way it can end
  magda/engine/exec/EngineSession.cpp
  magda/engine/exec/EngineSession.hpp
  magda/engine/exec/RuntimeStateStore.cpp
  magda/engine/exec/RuntimeStateStore.hpp
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  magda/engine/io/TakeRecorder.cpp
  magda/engine/io/TakeRecorder.hpp
  magda/engine/launch/SessionCapture.cpp
  magda/engine/launch/SessionCapture.hpp
  magda/engine/launch/SessionLauncher.cpp
  magda/engine/launch/SlotRuns.hpp
  tests/engine/test_launch_handle_lifetime.cpp
  tests/engine/test_midi_take_recorder.cpp
  tests/engine/test_session_capture.cpp
  tests/engine/test_take_recorder.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix the three ternaries worth fixing, stop the check crying wolf (#2534)
  .clang-tidy
  magda/daw/core/TrackCommands.cpp
  magda/daw/media_db/MediaDbIndexer.cpp
  magda/daw/media_db/MediaDbQuery.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Pin the clang-tidy gate to one LLVM, and say which one ran
  .github/workflows/ci.yml
  .pre-commit-hooks/clang_tidy.py
Due: none

Pair a capture boundary with the drain that earned it
  magda/engine/launch/SessionCapture.cpp
  magda/engine/launch/SessionCapture.hpp
  magda/engine/launch/SlotRuns.hpp
  tests/engine/test_session_capture.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Record that the LLVM 21 checks stay excluded
  .clang-tidy
Due: none

Drain the lane before an end from this thread closes anything
  magda/engine/launch/SessionCapture.cpp
  magda/engine/launch/SessionCapture.hpp
  tests/engine/test_session_capture.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Make the clang-tidy gate advisory until the engine pass
  .clang-tidy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/clang_tidy.py
Due: none

Pin the clang-tidy gate, and hold it advisory until the engine pass (#2535)
  .clang-tidy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/clang_tidy.py
Due: none

Path conditions:
  check-file-size: any of: \.(cpp|hpp|h|c|cc|cxx)$
  build-check: any of: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
  clang-tidy-check: any of: \.(cpp|hpp|h)$
  test-check: any of: \.(cpp|hpp|h|c|cc|cxx)$
