Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

check-file-size:
  name: Check File Size (<2.5KLOC Policy)
  entry: .pre-commit-hooks/check-file-size.sh
  language: system
  pass_filenames: true

build-check:
  name: Build Check
  entry: make
  args:
  - debug
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-check:
  name: Clang-Tidy Check
  entry: bash
  args:
  - -c
  ...

test-check:
  name: Test Check
  entry: make
  args:
  - test
  language: system
  pass_filenames: false
  stages:
  - pre-push

Manual: drop screenshots of settings dialogs
  manual/docs/assets/images/interface/audio-settings.png
  manual/docs/assets/images/interface/controllers.png
  manual/docs/assets/images/interface/plugin-settings.png
  manual/docs/assets/images/panels/ai-settings.png
  manual/docs/interface/audio-settings.md
  manual/docs/interface/controllers.md
  manual/docs/interface/plugin-settings.md
  manual/docs/panels/ai-assistant.md
Due: none

Show description + yellow disclaimer in the AI panel after a 4OSC apply
  magda/agents/four_osc_apply.cpp
  magda/daw/ui/components/chain/AIPanelComponent.cpp
  magda/daw/ui/components/chain/AIPanelComponent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Lock the right-edge header order to [preset][power][delete] structurally
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
  magda/daw/ui/components/chain/NodeComponent.cpp
  magda/daw/ui/components/chain/NodeComponent.hpp
  magda/daw/ui/components/chain/RackComponent.cpp
  magda/daw/ui/components/chain/RackComponent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Manual: add 4OSC AI panel screenshot, reconstruct Scripts tab as text
  manual/docs/assets/images/panels/4osc-ai-panel.png
  manual/docs/interface/controllers.md
  manual/docs/panels/ai-assistant.md
Due: none

Hide the .mps preset button on the Chord Engine
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Manual: refresh device + chain screenshots for 0.7 header redesign
  manual/docs/assets/images/devices/4osc-osc.png
  manual/docs/assets/images/devices/arpeggiator.png
  manual/docs/assets/images/devices/drum-grid.png
  manual/docs/assets/images/devices/rack.png
  manual/docs/assets/images/devices/step-sequencer.png
  manual/docs/assets/images/panels/track-chain.png
  manual/docs/devices/drum-grid.md
Due: none

Fix preset modulation link restore
  magda/daw/core/TrackManagerDevices.cpp
  magda/daw/ui/components/chain/DeviceLinkCallbacks.hpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/ParamLinkMenu.cpp
  magda/daw/ui/components/chain/ParamLinkMenu.hpp
  magda/daw/ui/components/chain/ParamSlotComponent.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.hpp
  magda/daw/ui/components/common/LinkableTextSlider.cpp
  magda/daw/ui/components/common/LinkableTextSlider.hpp
  tests/test_rack_audio.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Harden modulation target paths
  magda/daw/core/TrackManager.cpp
  magda/daw/ui/components/chain/DeviceLinkCallbacks.hpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/MacroKnobComponent.cpp
  magda/daw/ui/components/chain/ModKnobComponent.cpp
  magda/daw/ui/components/chain/ModulatorEditorPanel.cpp
  magda/daw/ui/components/chain/ParamSlotComponent.cpp
  tests/test_rack_audio.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Stabilize target serialization and full test suite
  magda/daw/core/ClipOperations.hpp
  magda/daw/core/ControlTarget.hpp
  magda/daw/project/serialization/AutomationModSerializer.cpp
  magda/daw/project/serialization/ProjectSerializer.hpp
  magda/daw/project/serialization/TrackSerializer.cpp
  tests/test_audio_source_length.cpp
  tests/test_chain_fingerprint.cpp
  tests/test_control_target.cpp
  tests/test_dsl_add_arpeggio.cpp
  tests/test_dsl_add_chord.cpp
  tests/test_group_tracks_and_macros.cpp
  tests/test_known_plugin_list_duplicates.cpp
  tests/test_looped_waveform_tile.cpp
  tests/test_lua_controller.cpp
  tests/test_lua_runtime.cpp
  tests/test_master_track_serialization.cpp
  tests/test_modulation.cpp
  tests/test_project_serialization.cpp
  tests/test_prune_missing_plugins.cpp
  tests/test_rack_audio.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

refactor(controllers): split bundled resources into profiles/ and scripts/, treat as read-only factory pool
  examples/scripts/README.md
  magda/daw/core/controllers/ControllerProfileRegistry.cpp
  magda/daw/core/controllers/ControllerProfileRegistry.hpp
  magda/daw/magda_daw_main.cpp
  magda/scripting/LuaScriptStore.cpp
  magda/scripting/LuaScriptStore.hpp
  resources/controllers/profiles/generic.8_knob.macros.json
  resources/controllers/profiles/novation.launchkey_mini_mk4.macros.json
  resources/controllers/profiles/novation.launchkey_mk3.macros.json
  resources/controllers/scripts/8-knobs.lua
  resources/controllers/scripts/foot-pedal.lua
  resources/controllers/scripts/launchkey_mini_mk4.lua
  resources/controllers/scripts/launchpad.lua
Due: check-file-size, build-check, clang-tidy-check, test-check

fix(clip-sync): disable loop in beats-authoritative branch + run JUCE tests on all CI platforms
  .github/workflows/ci.yml
  magda/daw/audio/session/ClipSynchronizer.cpp
  tests/test_clip_sync_integration_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Exclude Lua DAW ports from track MIDI routing
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/AudioBridge.hpp
  magda/daw/magda_daw_main.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Delete clips with tracks
  magda/daw/core/TrackManager.cpp
  tests/test_session_clip_playback.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Log session track rebuild state
  magda/daw/core/TrackManager.cpp
  magda/daw/ui/views/SessionView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Map Launchkey pads by track order
  resources/controllers/scripts/launchkey_mini_mk4.lua
Due: none

New Crowdin translations by GitHub Action (#1136)
  lang/zh.json
Due: none

Fix/lua surface midi routing 1166 (#1167)
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/AudioBridge.hpp
  magda/daw/core/TrackManager.cpp
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/views/SessionView.cpp
  resources/controllers/scripts/launchkey_mini_mk4.lua
  tests/test_session_clip_playback.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Document waveform peak cache
  manual/docs/clips.md
  manual/docs/interface/preferences.md
  manual/docs/panels/browsers.md
  manual/docs/reference/file-formats.md
  manual/docs/reference/troubleshooting.md
Due: none

fix(release): bundle controllers/ in Windows + Linux installers
  .github/workflows/release.yml
  packaging/windows/magda-installer.nsi
Due: none

fix(release): also guard controllers/scripts in staging, fail-fast Copy-Item
  .github/workflows/release.yml
  packaging/windows/magda-installer.nsi
Due: none

build(cmake): default MAGDA_BUILD_EXAMPLES to OFF
  CMakeLists.txt
Due: build-check

ci: skip JUCE integration tests on macOS until sandboxed (#1172)
  .github/workflows/ci.yml
Due: none

feat(controllers): factory Lua scripts require explicit enable
  lang/en.json
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/magda_daw_main.cpp
  magda/daw/scripting_app.hpp
  magda/daw/ui/dialogs/ControllersDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(controllers): factory profiles also require explicit enable
  lang/en.json
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/core/controllers/ControllerProfileRegistry.cpp
  magda/daw/core/controllers/ControllerProfileRegistry.hpp
  magda/daw/ui/dialogs/ControllersDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Revert "feat(controllers): factory profiles also require explicit enable"
  lang/en.json
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/core/controllers/ControllerProfileRegistry.cpp
  magda/daw/core/controllers/ControllerProfileRegistry.hpp
  magda/daw/ui/dialogs/ControllersDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

ui(controllers): two-row button layout on Scripts tab
  magda/daw/ui/dialogs/ControllersDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

review(controllers): UTF-8 String construction + explicit <algorithm>
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/dialogs/ControllersDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

New Crowdin translations by GitHub Action
  lang/zh.json
Due: none

feat(faust): AI panel, slot styling, and CoderAgent split
  assets/icons/general/faust-logo.svg
  magda/agents/CMakeLists.txt
  magda/agents/coder_agent.cpp
  magda/agents/coder_agent.hpp
  magda/agents/device_ai_agent.hpp
  magda/agents/faust_agent.cpp
  magda/agents/faust_agent.hpp
  magda/agents/internal_plugins.hpp
  magda/agents/sound_design_agent.hpp
  magda/daw/CMakeLists.txt
  magda/daw/ui/components/chain/AIPanelComponent.cpp
  magda/daw/ui/components/chain/AIPanelComponent.hpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
  magda/daw/ui/components/chain/FaustUI.cpp
  magda/daw/ui/components/chain/FaustUI.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(faust): Phase 1 — slot type + metadata parser
  docs/FAUST_POOL_REFACTOR.md
  magda/daw/CMakeLists.txt
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/plugins/FaustMetadataParser.cpp
  magda/daw/audio/plugins/FaustMetadataParser.hpp
  magda/daw/audio/plugins/FaustParamSlot.hpp
  magda/daw/ui/components/chain/FaustUI.cpp
  tests/CMakeLists.txt
  tests/test_faust_metadata_parser.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(faust): Phase 2 — FaustParamPool + HarvestedControl
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/plugins/FaustParamPool.cpp
  magda/daw/audio/plugins/FaustParamPool.hpp
  tests/CMakeLists.txt
  tests/test_faust_param_pool.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(faust): Phase 4a — paramInfoFromSlot bridge
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/plugins/FaustParamInfo.cpp
  magda/daw/audio/plugins/FaustParamInfo.hpp
  tests/CMakeLists.txt
  tests/test_faust_param_info.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(faust): Phase 3 — pool cutover
  magda/daw/audio/plugins/FaustParamPool.cpp
  magda/daw/audio/plugins/FaustParamPool.hpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/plugins/FaustPlugin.hpp
  tests/test_faust_param_pool.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(faust): Phase 4b — FaustProcessor + dispatch wiring
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/audio/processors/DeviceProcessor.cpp
  magda/daw/audio/processors/DeviceProcessor.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(faust): Phase 5 — header-only FaustUI, paramGrid_ for body (path C)
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/FaustUI.cpp
  magda/daw/ui/components/chain/FaustUI.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

feat(faust): Phase 6 — system prompt teaches the new control vocab
  magda/agents/faust_agent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix(faust): refresh DeviceInfo.parameters after a DSP swap; show only active slots
  magda/daw/audio/plugin_manager/PluginManager.hpp
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/audio/processors/DeviceProcessor.cpp
  magda/daw/ui/components/chain/FaustUI.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

fix(faust): register FaustProcessor on top-level path, defer DSP-load notify
  assets/icons/general/faust-text-logo.svg
  magda/daw/audio/plugin_manager/PluginManagerSync.cpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/processors/DeviceProcessor.cpp
  magda/daw/core/aliases/TargetResolver.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/FaustUI.cpp
  magda/daw/ui/components/chain/FaustUI.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Separate audio source interpretation from clip placement
  magda/agents/dsl_interpreter.cpp
  magda/daw/audio/session/ClipSynchronizer.cpp
  magda/daw/audio/session/ClipSynchronizer.hpp
  magda/daw/audio/session/SessionRecorder.cpp
  magda/daw/core/ClipCommands.cpp
  magda/daw/core/ClipDisplayInfo.hpp
  magda/daw/core/ClipInfo.hpp
  magda/daw/core/ClipManager.cpp
  magda/daw/core/ClipManager.hpp
  magda/daw/core/ClipOperations.hpp
  magda/daw/engine/TracktionEngineWrapperRecording.cpp
  magda/daw/project/serialization/ClipSerializer.cpp
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/clips/ClipComponent.hpp
  magda/daw/ui/components/waveform/WaveformGridComponent.cpp
  magda/daw/ui/panels/content/AudioClipPropertiesContent.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorSections.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorState.cpp
  tests/test_auto_tempo.cpp
  tests/test_clip_bpm_invariant.cpp
  tests/test_clip_resize_operations.cpp
  tests/test_clip_sync_integration_juce.cpp
  tests/test_session_clip_playback.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Path conditions:
  check-file-size: any of: \.(cpp|hpp|h|c|cc|cxx)$
  build-check: any of: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
  clang-tidy-check: any of: \.(cpp|hpp|h)$
  test-check: any of: \.(cpp|hpp|h|c|cc|cxx)$
