Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Count in without moving the playhead
  magda/daw/engine/host/EngineHost.cpp
  magda/engine/exec/EngineSession.cpp
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/transport/TransportClock.cpp
  magda/engine/transport/TransportClock.hpp
  magda/engine/transport/TransportState.hpp
  tests/engine/test_transport_clock.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep a live note sounding across the transport start
  magda/engine/exec/PlanExecutor.cpp
  magda/engine/exec/RenderContext.hpp
  magda/engine/transport/TransportClock.cpp
  magda/engine/transport/TransportClock.hpp
  tests/engine/test_plan_midi_panic.cpp
  tests/engine/test_transport_clock.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep the Tracktion Engine submodule until v1
  .gitmodules
Due: none

Hold a lead-in for a count-in only, and test the held cursor
  magda/engine/io/MidiTakeRecorder.cpp
  tests/engine/test_engine_host_midi_recording_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Remove the debug file loggers that grew without bound
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/modifiers/ADSRDebugLog.hpp
  magda/daw/audio/modifiers/ModifierSync.cpp
  magda/daw/audio/plugin_manager/PluginManagerModifiers.cpp
  magda/daw/audio/plugin_manager/PluginManagerSidechain.cpp
  magda/daw/core/SelectionManager.cpp
  magda/daw/ui/components/chain/modulation/FollowerEditorPanel.cpp
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Delete the retired debug logs on startup
  magda/daw/magda_daw_main.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix count-in recording, and remove unbounded debug logs (#2952)
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/modifiers/ADSRDebugLog.hpp
  magda/daw/audio/modifiers/ModifierSync.cpp
  magda/daw/audio/plugin_manager/PluginManagerModifiers.cpp
  magda/daw/audio/plugin_manager/PluginManagerSidechain.cpp
  magda/daw/core/SelectionManager.cpp
  magda/daw/engine/host/EngineHost.cpp
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/components/chain/modulation/FollowerEditorPanel.cpp
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
  magda/engine/exec/EngineSession.cpp
  magda/engine/exec/PlanExecutor.cpp
  magda/engine/exec/RenderContext.hpp
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  magda/engine/transport/TransportClock.cpp
  magda/engine/transport/TransportClock.hpp
  magda/engine/transport/TransportState.hpp
  tests/engine/test_engine_host_midi_recording_juce.cpp
  tests/engine/test_midi_take_recorder.cpp
  tests/engine/test_plan_midi_panic.cpp
  tests/engine/test_transport_clock.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Switch a CoreAudio interface's rate before opening it, with a spinner while it settles
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/io/AudioIOControl.hpp
  magda/daw/audio/io/AudioIOService.cpp
  magda/daw/audio/io/AudioIOService.hpp
  magda/daw/audio/io/CoreAudioRate.cpp
  magda/daw/audio/io/CoreAudioRate.hpp
  magda/daw/ui/dialogs/AudioSettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Make a recorded take one undo step
  magda/daw/audio/ClipCommands.cpp
  magda/daw/core/ClipCommands.hpp
  magda/daw/engine/host/EngineHost.cpp
  tests/CMakeLists.txt
  tests/clips/test_record_take_undo.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Make a recorded take one undo step under Tracktion too
  magda/daw/engine/TracktionEngineWrapperRecording.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Note in the manual that interfaces go silent briefly after a sample rate change
  manual/docs/interface/audio-settings.md
Due: none

Init macOS CI submodules over HTTPS so a hosted fallback runner can clone them
  .github/workflows/ci.yml
Due: none

Make a recorded take one undo step, and switch CoreAudio rates cleanly (#2954)
  .github/workflows/ci.yml
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/ClipCommands.cpp
  magda/daw/audio/io/AudioIOControl.hpp
  magda/daw/audio/io/AudioIOService.cpp
  magda/daw/audio/io/AudioIOService.hpp
  magda/daw/audio/io/CoreAudioRate.cpp
  magda/daw/audio/io/CoreAudioRate.hpp
  magda/daw/core/ClipCommands.hpp
  magda/daw/engine/TracktionEngineWrapperRecording.cpp
  magda/daw/engine/host/EngineHost.cpp
  magda/daw/ui/dialogs/AudioSettingsDialog.cpp
  manual/docs/interface/audio-settings.md
  tests/CMakeLists.txt
  tests/clips/test_record_take_undo.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

deploy: feffd07430a49ec69f556a3c31c2a2ff2554090d
  interface/audio-settings/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Keep the Tracktion Engine submodule until v1 (#2953)
  .gitmodules
Due: none

Upgrade JUCE to 9.0.3
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/juce-tests-linux.yml
  .github/workflows/release.yml
  Dockerfile
  magda/daw/audio/Vst3Preset.hpp
  magda/daw/audio/plugin_manager/ExternalPluginState.cpp
  magda/daw/audio/plugins/engine/EngineExternalDevice.cpp
  magda/daw/ui/components/common/GridDivisionMenu.hpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
  magda/daw/ui/dialogs/AboutDialog.cpp
  magda/daw/ui/dialogs/PreferencesDialog.cpp
  magda/daw/ui/dialogs/SplashScreen.cpp
  magda/daw/ui/windows/MainWindow.cpp
  magda/daw/utils/ComponentManager.hpp
  tests/engine/test_engine_external_device.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Merge main into dev/1.0.0 (#2956)
  .github/workflows/ci.yml
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/ClipCommands.cpp
  magda/daw/audio/io/AudioIOControl.hpp
  magda/daw/audio/io/AudioIOService.cpp
  magda/daw/audio/io/AudioIOService.hpp
  magda/daw/audio/io/CoreAudioRate.cpp
  magda/daw/audio/io/CoreAudioRate.hpp
  magda/daw/audio/modifiers/ADSRDebugLog.hpp
  magda/daw/core/ClipCommands.hpp
  magda/daw/core/SelectionManager.cpp
  magda/daw/engine/host/EngineHost.cpp
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/components/chain/modulation/FollowerEditorPanel.cpp
  magda/daw/ui/components/clips/ClipComponent.cpp
  magda/daw/ui/components/tracks/TrackContentPanel.cpp
  magda/daw/ui/dialogs/AudioSettingsDialog.cpp
  magda/engine/exec/EngineSession.cpp
  magda/engine/exec/PlanExecutor.cpp
  magda/engine/exec/RenderContext.hpp
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  magda/engine/transport/TransportClock.cpp
  magda/engine/transport/TransportClock.hpp
  magda/engine/transport/TransportState.hpp
  manual/docs/interface/audio-settings.md
  tests/CMakeLists.txt
  tests/clips/test_record_take_undo.cpp
  tests/engine/test_engine_host_midi_recording_juce.cpp
  tests/engine/test_midi_take_recorder.cpp
  tests/engine/test_plan_midi_panic.cpp
  tests/engine/test_transport_clock.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add magda-sdk as a submodule and link its core into magda_daw
  .gitmodules
  CMakeLists.txt
  magda/daw/CMakeLists.txt
Due: build-check

Upgrade JUCE to 9.0.3 (#2957)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/juce-tests-linux.yml
  .github/workflows/release.yml
  Dockerfile
  magda/daw/audio/Vst3Preset.hpp
  magda/daw/audio/plugin_manager/ExternalPluginState.cpp
  magda/daw/audio/plugins/engine/EngineExternalDevice.cpp
  magda/daw/ui/components/common/GridDivisionMenu.hpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
  magda/daw/ui/dialogs/AboutDialog.cpp
  magda/daw/ui/dialogs/PreferencesDialog.cpp
  magda/daw/ui/dialogs/SplashScreen.cpp
  magda/daw/ui/windows/MainWindow.cpp
  magda/daw/utils/ComponentManager.hpp
  tests/engine/test_engine_external_device.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add magda-sdk as a submodule and link its core into magda_daw (#2958)
  .gitmodules
  CMakeLists.txt
  magda/daw/CMakeLists.txt
Due: build-check

Use the SDK's lock-free queues, taps and farbot; drop the originals and their moved tests
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/MeteringBuffer.hpp
  magda/daw/audio/TrackMeters.hpp
  magda/daw/audio/params/ParameterManager.hpp
  magda/daw/audio/params/ParameterQueue.hpp
  magda/daw/audio/plugins/SidechainTriggerBus.hpp
  magda/daw/core/TrackManager.cpp
  magda/daw/core/TrackManagerModulation.cpp
  magda/daw/engine/host/SlotLauncher.cpp
  magda/daw/ui/views/MixerView.cpp
  magda/daw/ui/views/SessionView.cpp
  magda/engine/CMakeLists.txt
  magda/engine/exec/AudioBlockView.hpp
  magda/engine/exec/PlanBindings.hpp
  magda/engine/exec/PlanExecutor.cpp
  magda/engine/exec/RuntimeStateStore.hpp
  magda/engine/launch/SessionLauncher.cpp
  magda/engine/launch/SessionLauncher.hpp
  magda/engine/tap/LaunchTap.hpp
  magda/engine/tap/LevelTap.hpp
  magda/engine/tap/SampleRing.hpp
  magda/engine/tap/ValueTap.hpp
  tests/CMakeLists.txt
  tests/devices/test_sidechain_triggers.cpp
  tests/engine/test_engine_taps.cpp
  tests/engine/test_launch_tap.cpp
  tests/engine/test_live_input.cpp
  tests/engine/test_offline_render.cpp
  tests/engine/test_slot_launcher_juce.cpp
  tests/engine/test_value_taps.cpp
  third_party/farbot/LICENSE
  third_party/farbot/include/farbot/AsyncCaller.hpp
  third_party/farbot/include/farbot/RealtimeObject.hpp
  third_party/farbot/include/farbot/RealtimeTraits.hpp
  third_party/farbot/include/farbot/detail/RealtimeObject.tcc
  third_party/farbot/include/farbot/detail/fifo.tcc
  third_party/farbot/include/farbot/fifo.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Point the level tap spec and record stream notes at the SDK headers
  magda/engine/io/RecordStream.hpp
  specs/tla/level_tap/LevelTap.tla
Due: check-file-size, build-check, clang-tidy-check, test-check

Pass the SDK taps the executor's channel-pointer rows and drop the 8-channel block view
  magda/engine/CMakeLists.txt
  magda/engine/exec/AudioBlockView.hpp
  magda/engine/exec/PlanExecutor.cpp
  magda/engine/exec/PlanExecutor.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Use the SDK's lock-free primitives, taps and buffer view (#2959)
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/MeteringBuffer.hpp
  magda/daw/audio/TrackMeters.hpp
  magda/daw/audio/params/ParameterManager.hpp
  magda/daw/audio/params/ParameterQueue.hpp
  magda/daw/audio/plugins/SidechainTriggerBus.hpp
  magda/daw/core/TrackManager.cpp
  magda/daw/core/TrackManagerModulation.cpp
  magda/daw/engine/host/SlotLauncher.cpp
  magda/daw/ui/views/MixerView.cpp
  magda/daw/ui/views/SessionView.cpp
  magda/engine/CMakeLists.txt
  magda/engine/exec/PlanBindings.hpp
  magda/engine/exec/PlanExecutor.cpp
  magda/engine/exec/PlanExecutor.hpp
  magda/engine/exec/RuntimeStateStore.hpp
  magda/engine/io/RecordStream.hpp
  magda/engine/launch/SessionLauncher.cpp
  magda/engine/launch/SessionLauncher.hpp
  magda/engine/tap/LaunchTap.hpp
  magda/engine/tap/LevelTap.hpp
  magda/engine/tap/SampleRing.hpp
  magda/engine/tap/ValueTap.hpp
  specs/tla/level_tap/LevelTap.tla
  tests/CMakeLists.txt
  tests/devices/test_sidechain_triggers.cpp
  tests/engine/test_engine_taps.cpp
  tests/engine/test_launch_tap.cpp
  tests/engine/test_live_input.cpp
  tests/engine/test_offline_render.cpp
  tests/engine/test_slot_launcher_juce.cpp
  tests/engine/test_value_taps.cpp
  third_party/farbot/LICENSE
  third_party/farbot/include/farbot/AsyncCaller.hpp
  third_party/farbot/include/farbot/RealtimeObject.hpp
  third_party/farbot/include/farbot/RealtimeTraits.hpp
  third_party/farbot/include/farbot/detail/RealtimeObject.tcc
  third_party/farbot/include/farbot/detail/fifo.tcc
  third_party/farbot/include/farbot/fifo.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Normalise saved device state into the SDK document in one place
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/plugins/DeviceCatalogParameters.cpp
  magda/daw/audio/plugins/DeviceStateDocument.cpp
  magda/daw/audio/plugins/DeviceStateDocument.hpp
  magda/daw/audio/plugins/SavedDeviceState.cpp
  magda/daw/core/DeviceState.cpp
  magda/daw/core/DeviceState.hpp
  magda/daw/core/DeviceStateCommands.cpp
  magda/daw/core/DrumGridPads.cpp
  tests/CMakeLists.txt
  tests/DeviceTestState.hpp
  tests/devices/test_device_sdk_state.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Take the device contract, sidechain port and loudness telemetry types from the SDK
  magda/daw/CMakeLists.txt
  magda/daw/audio/analysis/TrackMeasurer.hpp
  magda/daw/audio/plugins/AnalysisTelemetry.hpp
  magda/daw/core/SidechainPort.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Read a Faust device's retired parameter spellings into the model once, at load
  magda/daw/audio/plugins/DeviceStateHydration.cpp
  magda/daw/audio/plugins/FaustParamInfo.cpp
  tests/dsp/test_faust_instrument_voice_modes.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Write state a device reports about itself into the model's document
  magda/daw/engine/host/EngineHost.cpp
  magda/daw/engine/host/EngineRuntimeFactory.cpp
  magda/daw/engine/host/EngineRuntimeFactory.hpp
  tests/engine/test_engine_host_publish_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Describe the SDK device contract in the audio-thread and valuetree skills
  .claude/skills/audio-thread/SKILL.md
  .claude/skills/valuetree/SKILL.md
Due: none

Test that out-of-range integers saturate instead of comparing with JUCE's platform-dependent narrowing
  tests/devices/test_device_sdk_state.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Convert parameter values through the SDK and take its scale and display types
  magda/daw/core/ParameterInfo.hpp
  magda/daw/core/ParameterUtils.cpp
  magda/daw/core/ParameterUtils.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Describe each device's parameters with sdk::ParameterDescriptor and build ParameterInfo from it
  magda/daw/CMakeLists.txt
  magda/daw/audio/DevicesDependencies.cmake
  magda/daw/audio/plugins/ArpeggiatorPlugin.cpp
  magda/daw/audio/plugins/ArpeggiatorPlugin.hpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.cpp
  magda/daw/audio/plugins/FaustInstrumentPlugin.hpp
  magda/daw/audio/plugins/FaustParamInfo.cpp
  magda/daw/audio/plugins/FaustParamInfo.hpp
  magda/daw/audio/plugins/FaustPlugin.cpp
  magda/daw/audio/plugins/FaustPlugin.hpp
  magda/daw/audio/plugins/MagdaConvolutionPlugin.cpp
  magda/daw/audio/plugins/MagdaConvolutionPlugin.hpp
  magda/daw/audio/plugins/MagdaDevice.hpp
  magda/daw/audio/plugins/MagdaSamplerPlugin.cpp
  magda/daw/audio/plugins/MagdaSamplerPlugin.hpp
  magda/daw/audio/plugins/MidiStrumPlugin.cpp
  magda/daw/audio/plugins/MidiStrumPlugin.hpp
  magda/daw/audio/plugins/PolyStepSequencerPlugin.cpp
  magda/daw/audio/plugins/PolyStepSequencerPlugin.hpp
  magda/daw/audio/plugins/SidechainPlugin.cpp
  magda/daw/audio/plugins/SidechainPlugin.hpp
  magda/daw/audio/plugins/StepSequencerPlugin.cpp
  magda/daw/audio/plugins/StepSequencerPlugin.hpp
  magda/daw/audio/plugins/ToneGeneratorPlugin.cpp
  magda/daw/audio/plugins/ToneGeneratorPlugin.hpp
  magda/daw/audio/plugins/compiled/CompiledFaustInterface.hpp
  magda/daw/audio/plugins/mutable/MutableCloudsPlugin.cpp
  magda/daw/audio/plugins/mutable/MutableCloudsPlugin.hpp
  magda/daw/audio/plugins/mutable/MutableElementsPlugin.cpp
  magda/daw/audio/plugins/mutable/MutableElementsPlugin.hpp
  magda/daw/audio/plugins/mutable/MutableRingsPlugin.cpp
  magda/daw/audio/plugins/mutable/MutableRingsPlugin.hpp
  magda/daw/core/ParameterDescriptorAdapter.cpp
  magda/daw/core/ParameterDescriptorAdapter.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Generate the base-pack parameter manifests and check them against the frozen parameter order
  CMakeLists.txt
  Makefile
  magda/daw/audio/CMakeLists.txt
  magda/daw/audio/plugins/DeviceManifests.cpp
  magda/daw/audio/plugins/DeviceManifests.hpp
  tests/CMakeLists.txt
  tests/devices/test_device_manifests.cpp
  tests/utilities/test_parameter_conversion_parity.cpp
  tools/device_manifests/CMakeLists.txt
  tools/device_manifests/DeviceManifestsMain.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check
