Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Restore chord engine, add tab icons, deduplicate plugin list
  assets/icons/IO/Input.svg
  assets/icons/IO/Output.svg
  assets/icons/ai.svg
  magda/daw/CMakeLists.txt
  magda/daw/ui/components/chain/ChainPanel.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/ChordPanelContent.cpp
  magda/daw/ui/panels/content/ChordPanelContent.hpp
  magda/daw/ui/panels/content/PluginBrowserContent.cpp
  magda/daw/ui/panels/content/PluginBrowserContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add Gemini streaming, first-class providers, chord annotations, ConfigPage redesign, and piano roll UI polish
  magda/agents/command_agent.cpp
  magda/agents/daw_agent.cpp
  magda/agents/llm_client_factory.hpp
  magda/agents/llm_config_utils.hpp
  magda/agents/llm_presets.cpp
  magda/agents/music_agent.cpp
  magda/agents/router_agent.cpp
  magda/daw/CMakeLists.txt
  magda/daw/audio/MidiChordEnginePlugin.cpp
  magda/daw/core/Config.cpp
  magda/daw/music/ChordEngine.cpp
  magda/daw/music/ChordTypes.hpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
  magda/daw/ui/dialogs/AISettingsDialog.hpp
  magda/daw/ui/panels/content/AIChatConsoleContent.cpp
  magda/daw/ui/panels/content/AIChatConsoleContent.hpp
  magda/daw/ui/panels/content/ChordPanelContent.cpp
  magda/daw/ui/panels/content/ChordPanelContent.hpp
  magda/daw/ui/panels/content/PianoRollContent.cpp
  magda/daw/ui/panels/content/PianoRollContent.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix clip resize overlap: resolve overlaps on resize and bring dragged clip to front
  magda/daw/core/ClipManager.cpp
  magda/daw/ui/components/clips/ClipComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add editable time signature control to transport panel and wire up TE engine
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
  magda/daw/ui/components/common/DraggableValueLabel.cpp
  magda/daw/ui/components/common/DraggableValueLabel.hpp
  magda/daw/ui/panels/TransportPanel.cpp
  magda/daw/ui/panels/TransportPanel.hpp
  magda/daw/ui/views/MainView.cpp
  magda/daw/ui/windows/MainWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add metronome count-in pre-roll with right-click menu and fix recording start position
  magda/daw/engine/AudioEngine.hpp
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperRecording.cpp
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
  magda/daw/ui/panels/TransportPanel.cpp
  magda/daw/ui/panels/TransportPanel.hpp
  magda/daw/ui/windows/MainWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add mod matrix UI to FourOscUI LFO and Mod Env tabs
  magda/daw/ui/components/chain/DeviceSlotComponent.cpp
  magda/daw/ui/components/chain/DeviceSlotComponent.hpp
  magda/daw/ui/components/chain/FourOscUI.cpp
  magda/daw/ui/components/chain/FourOscUI.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Update manual: add 4OSC docs, groove/swing, transport, AI settings, and refresh screenshots
  manual/docs/assets/images/devices/4osc-lfo.png
  manual/docs/assets/images/devices/4osc-osc.png
  manual/docs/assets/images/devices/chord-engine-ai.png
  manual/docs/assets/images/devices/chord-engine-ks.png
  manual/docs/assets/images/devices/chord-engine-pianoroll.png
  manual/docs/assets/images/modulation/global-macros-mods.png
  manual/docs/assets/images/panels/ai-assistant.png
  manual/docs/assets/images/panels/ai-settings.png
  manual/docs/assets/images/panels/dsl-repl.png
  manual/docs/assets/images/panels/groove-ai.png
  manual/docs/assets/images/panels/groove-inspector.png
  manual/docs/assets/images/transport/count-in.png
  manual/docs/assets/images/transport/time-signature.png
  manual/docs/clips.md
  manual/docs/devices/4osc.md
  manual/docs/devices/built-in.md
  manual/docs/devices/chord-engine.md
  manual/docs/interface/menus.md
  manual/docs/interface/preferences.md
  manual/docs/modulation/modulators.md
  manual/docs/modulation/overview.md
  manual/docs/panels/ai-assistant.md
  manual/docs/panels/chord-panel.md
  manual/docs/transport.md
  manual/mkdocs.yml
Due: none

Add cloud provider SVG icons
  assets/icons/cloud_providers/anthropic.svg
  assets/icons/cloud_providers/deepseek.svg
  assets/icons/cloud_providers/gemini.svg
  assets/icons/cloud_providers/openai.svg
  assets/icons/cloud_providers/openrouter.svg
Due: none

Add LLM proof-of-concept scripts and update juce-llm submodule
  poc/CMakeLists.txt
  poc/llm_prompt_compare.cpp
  poc/results/results_chatmusician.jsonl
  poc/results/results_cloud.jsonl
  poc/results/results_compact.jsonl
  poc/results/results_qwen_chords.jsonl
  poc/results/results_router.jsonl
  poc/results/results_tools.jsonl
  poc/run_poc_chatmusician.py
  poc/run_poc_chatmusician_drums.py
  poc/run_poc_cloud.py
  poc/run_poc_compact.py
  poc/run_poc_qwen_chords.py
  poc/run_poc_router.py
  poc/run_poc_tools.py
Due: check-file-size, build-check, clang-tidy-check, test-check

Update README: remove hardcoded version, add juce-llm and llama.cpp deps
  README.md
Due: none

Remove poc/ directory from release branch (moved to poc/llm-prompt-compare)
  poc/CMakeLists.txt
  poc/llm_prompt_compare.cpp
  poc/results/results_chatmusician.jsonl
  poc/results/results_cloud.jsonl
  poc/results/results_compact.jsonl
  poc/results/results_qwen_chords.jsonl
  poc/results/results_router.jsonl
  poc/results/results_tools.jsonl
  poc/run_poc_chatmusician.py
  poc/run_poc_chatmusician_drums.py
  poc/run_poc_cloud.py
  poc/run_poc_compact.py
  poc/run_poc_qwen_chords.py
  poc/run_poc_router.py
  poc/run_poc_tools.py
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Linux CI: only enable Metal GPU backend on Apple platforms
  CMakeLists.txt
Due: build-check

Remove poc subdirectory reference from CMakeLists.txt
  CMakeLists.txt
Due: build-check

Fix PR review issues: inline ODR fix, missing includes, safe listener iteration, managed thread, avoid copy in LRU eviction
  magda/daw/core/Config.cpp
  magda/daw/magda_daw_main.cpp
  magda/daw/music/LRUCache.hpp
  magda/daw/music/ScaleDetector.hpp
  magda/daw/music/Scales.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix Windows CI: disable char8_t to fix llama.cpp MSVC build errors
  CMakeLists.txt
Due: build-check

Fix Windows CI: apply /Zc:char8_t- to llama target after -std:c++20
  CMakeLists.txt
Due: build-check

Fix Windows CI: build llama.cpp as C++17 to avoid MSVC char8_t errors
  CMakeLists.txt
Due: build-check

Fix Windows CI: force static linking for llama.cpp to avoid missing DLLs
  CMakeLists.txt
Due: build-check

Fix model download progress bar on Windows
  magda/agents/model_downloader.cpp
  magda/agents/model_downloader.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Replace GPU layers text field with user-friendly combo box
  magda/daw/ui/dialogs/AISettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix model download progress bar on Windows (WinINet)
  magda/agents/model_downloader.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix NSIS path in Windows release build
  .github/workflows/release.yml
Due: none

Add file logging for startup diagnostics
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/ScanWorker.cpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/magda_daw_main.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address PR review: log dir fallback, use int64 for casts
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/magda_daw_main.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add startup logging to MainWindow/MainComponent construction
  magda/daw/ui/windows/MainWindow.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Reuse scanner subprocess across plugins instead of relaunching per-plugin
  magda/daw/engine/ScanWorker.cpp
  magda/daw/engine/ScanWorker.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add plugin count to settings dialog, fix dialog cleanup
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address PR review: async dialog delete, only persist count on success
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Move plugin discovery off message thread, remove pkill hammer
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address PR review: fix thread safety in background discovery
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Only reuse scanner subprocess on Windows, quit after each on Mac/Linux
  magda/daw/engine/ScanWorker.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Kill subprocess before relaunch on Mac/Linux to cap process count
  magda/daw/engine/ScanWorker.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix false crash reports during Mac/Linux plugin scanning
  magda/daw/engine/ScanWorker.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Show excluded plugin count in Plugin Settings dialog
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add option to scan for new plugins on startup (off by default)
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Add option to load AI model on startup (off by default)
  magda/daw/core/Config.cpp
  magda/daw/core/Config.hpp
  magda/daw/magda_daw_main.cpp
  magda/daw/ui/dialogs/AISettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address PR review: fix UAF risk and deduplicate discovery logic
  magda/daw/engine/PluginScanCoordinator.cpp
  magda/daw/engine/PluginScanCoordinator.hpp
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperInit.cpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Fix audio input routing on Windows — use actual TE device names
  magda/daw/audio/AudioBridge.cpp
  magda/daw/audio/AudioBridge.hpp
  magda/daw/audio/TrackController.cpp
  magda/daw/engine/TracktionEngineWrapperTransport.cpp
  magda/daw/ui/components/mixer/RoutingSyncHelper.hpp
  magda/daw/ui/components/tracks/TrackHeadersPanel.cpp
  magda/daw/ui/panels/content/inspector/TrackInspector.cpp
  magda/daw/ui/views/MixerView.cpp
  magda/daw/ui/views/SessionView.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Address PR review: WeakReference for async callbacks, disable toggle during scan
  magda/daw/engine/TracktionEngineWrapper.hpp
  magda/daw/engine/TracktionEngineWrapperPlugins.cpp
  magda/daw/ui/dialogs/PluginSettingsDialog.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check
