Repository Conceptual-Machines/magda-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, build-check, clang-tidy-check, test-check

.pre-commit-config.yaml:

# Pre-commit configuration for Magica DAW
# Automatic code formatting and quality checks on commit

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: ^assets/.*\.png$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|h|c|cc|cxx)$
        args: [--style=file]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        files: CMakeLists\.txt$|\.cmake$
        args: [--line-width=80, --tab-size=4]

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Enforce file size policy (warn at 1.5KLOC, hard limit at 2.5KLOC)
      - id: check-file-size
        name: Check File Size (<2.5KLOC Policy)
        entry: .pre-commit-hooks/check-file-size.sh
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: true

      # Check that build still works after formatting
      - id: build-check
        name: Build Check
        entry: make
        args: [debug]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx|cmake)$|CMakeLists\.txt$
        pass_filenames: false
        stages: [pre-push]

      # Run basic linting on changed files
      - id: clang-tidy-check
        name: Clang-Tidy Check
        entry: bash
        args:
          - -c
          - |
            if command -v /opt/homebrew/opt/llvm/bin/clang-tidy >/dev/null 2>&1; then
              echo "Running clang-tidy on changed files..."
              # Only run on .cpp files that were changed
              for file in "$@"; do
                if [[ "$file" == *.cpp ]]; then
                  echo "Checking $file..."
                  /opt/homebrew/opt/llvm/bin/clang-tidy "$file" -p=cmake-build-debug --config-file=.clang-tidy --format-style=file || true
                fi
              done
            else
              echo "clang-tidy not found, skipping..."
            fi
        language: system
        files: \.(cpp|hpp|h)$
        stages: [pre-push]

      # Ensure tests still pass
      - id: test-check
        name: Test Check
        entry: make
        args: [test]
        language: system
        files: \.(cpp|hpp|h|c|cc|cxx)$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [pre-commit]
minimum_pre_commit_version: 2.20.0

Collapse the const runs left by re-applied header fixes
  magda/daw/audio/plugins/tracktion/TracktionMagdaDevicePlugin.hpp
  magda/daw/core/AutomationCommands.hpp
  magda/daw/core/ClipCommands.hpp
  magda/daw/core/ClipPropertyCommands.hpp
  magda/daw/core/TrackPropertyCommands.hpp
  magda/daw/ui/themes/FileBrowserLookAndFeel.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep auto for std::array iterators
  magda/daw/audio/plugins/MidiStrumPlugin.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Keep the theme refresh non-static, collapse repeated static specifiers
  magda/daw/ui/components/automation/AutomationClipComponent.hpp
  magda/daw/ui/components/timeline/TimeRuler.hpp
  magda/daw/ui/themes/MixerMetrics.hpp
  magda/daw/ui/windows/MainWindow.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Restore the copy the reorder needs, drop two dead leftovers
  magda/daw/core/TrackManager.cpp
  magda/daw/ui/components/automation/AutomationLaneComponent.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Put fullScaleStepOf's comment in the block form functions take
  tests/MgdFixtures.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Read the corpus step bound off the material it renders
  tests/MgdFixtures.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Calibrate project.retrospect against the playback mode gap
  tests/engine/test_real_project_corpus_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Stop a case that did not run from coming off the calibration list
  tests/NullDiffRunner.cpp
  tests/NullDiffRunner.hpp
  tests/engine/test_null_diff_juce.cpp
  tests/engine/test_real_project_corpus_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Read the corpus step bound off the material it renders (#2486)
  tests/MgdFixtures.cpp
  tests/NullDiffRunner.cpp
  tests/NullDiffRunner.hpp
  tests/engine/test_null_diff_juce.cpp
  tests/engine/test_real_project_corpus_juce.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Gate the native arranger on the track's playback mode (#2485)
  magda/engine/clip/ClipAudioSource.cpp
  magda/engine/clip/ClipAudioSource.hpp
  magda/engine/clip/ClipMidiSource.cpp
  magda/engine/clip/ClipMidiSource.hpp
  magda/engine/clip/ClipSnapshot.hpp
  magda/engine/clip/ClipSnapshotCompiler.cpp
  magda/engine/clip/ClipSnapshotCompiler.hpp
  magda/engine/clip/ClipSnapshotDump.cpp
  magda/engine/clip/ClipSnapshotDump.hpp
  magda/engine/clip/SessionPlayback.hpp
  tests/DawProjectRoundTrip.cpp
  tests/MgdFixture.cpp
  tests/MgdFixtures.cpp
  tests/NullDiffCorpus.cpp
  tests/NullDiffNativeLeg.cpp
  tests/engine/test_clip_snapshot.cpp
  tests/engine/test_null_diff_corpus.cpp
  tests/engine/test_real_project_corpus_juce.cpp
  tests/engine/test_session_playback.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Say what the snapshot's playback mode is for
  magda/engine/clip/ClipSnapshot.hpp
  magda/engine/clip/ClipSnapshotCompiler.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Read one snapshot per audio render, and take the playback mode from TrackTypes
  magda/daw/core/TrackInfo.hpp
  magda/daw/core/TrackTypes.hpp
  magda/engine/clip/ClipAudioSource.cpp
  magda/engine/clip/ClipAudioSource.hpp
  magda/engine/clip/ClipSnapshot.hpp
  magda/engine/clip/ClipSnapshotCompiler.hpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Reduce onto the accumulator, so NaN falls out the way it used to
  magda/agents/dsl_interpreter.cpp
  magda/daw/audio/AudioThumbnailManager.cpp
  magda/daw/audio/WaveformPeakCache.cpp
  magda/daw/core/AutomationManager.cpp
  magda/daw/music/ChordEngine.cpp
  magda/daw/ui/components/chain/custom_ui/SamplerUI.cpp
  magda/daw/ui/components/timeline/TimeRuler.cpp
  magda/daw/ui/components/waveform/WaveformGridComponent.cpp
  magda/daw/ui/panels/content/inspector/clip/ClipInspectorSections.cpp
  magda/daw/ui/windows/MainWindowExport.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Gate the native arranger on the track's playback mode (#2485) (#2488)
  magda/daw/core/TrackInfo.hpp
  magda/daw/core/TrackTypes.hpp
  magda/engine/clip/ClipAudioSource.cpp
  magda/engine/clip/ClipAudioSource.hpp
  magda/engine/clip/ClipMidiSource.cpp
  magda/engine/clip/ClipMidiSource.hpp
  magda/engine/clip/ClipSnapshot.hpp
  magda/engine/clip/ClipSnapshotCompiler.cpp
  magda/engine/clip/ClipSnapshotCompiler.hpp
  magda/engine/clip/ClipSnapshotDump.cpp
  magda/engine/clip/ClipSnapshotDump.hpp
  magda/engine/clip/SessionPlayback.hpp
  tests/DawProjectRoundTrip.cpp
  tests/MgdFixture.cpp
  tests/MgdFixtures.cpp
  tests/NullDiffCorpus.cpp
  tests/NullDiffNativeLeg.cpp
  tests/engine/test_clip_snapshot.cpp
  tests/engine/test_null_diff_corpus.cpp
  tests/engine/test_real_project_corpus_juce.cpp
  tests/engine/test_session_playback.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Resolve a track's playback state once per block (#2490)
  magda/engine/clip/ClipAudioSource.cpp
  magda/engine/clip/ClipAudioSource.hpp
  magda/engine/clip/ClipMidiSource.cpp
  magda/engine/clip/ClipMidiSource.hpp
  magda/engine/clip/ClipSnapshotFeed.hpp
  magda/engine/clip/SessionPlayback.hpp
  magda/engine/exec/EngineSession.cpp
  magda/engine/exec/OfflineRender.cpp
  magda/engine/exec/OfflineRender.hpp
  tests/ClipCallback.hpp
  tests/NullDiffNativeLeg.cpp
  tests/engine/test_clip_snapshot.cpp
  tests/engine/test_clip_stretch.cpp
  tests/engine/test_clip_voice.cpp
  tests/engine/test_clip_voice_pool.cpp
  tests/engine/test_offline_render.cpp
  tests/engine/test_session_playback.cpp
  tests/midi/test_midi_clip_playback.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Resolve a track's playback state once per block (#2494)
  magda/engine/clip/ClipAudioSource.cpp
  magda/engine/clip/ClipAudioSource.hpp
  magda/engine/clip/ClipMidiSource.cpp
  magda/engine/clip/ClipMidiSource.hpp
  magda/engine/clip/ClipSnapshotFeed.hpp
  magda/engine/clip/SessionPlayback.hpp
  magda/engine/exec/EngineSession.cpp
  magda/engine/exec/OfflineRender.cpp
  magda/engine/exec/OfflineRender.hpp
  tests/ClipCallback.hpp
  tests/NullDiffNativeLeg.cpp
  tests/engine/test_clip_snapshot.cpp
  tests/engine/test_clip_stretch.cpp
  tests/engine/test_clip_voice.cpp
  tests/engine/test_clip_voice_pool.cpp
  tests/engine/test_offline_render.cpp
  tests/engine/test_session_playback.cpp
  tests/midi/test_midi_clip_playback.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Make the clang-tidy pre-push hook actually fail
  .clang-tidy
  .pre-commit-config.yaml
  .pre-commit-hooks/clang-tidy.sh
  CMakeLists.txt
Due: build-check

Run clang-tidy on changed files in CI
  .github/workflows/ci.yml
Due: none

Report the recording pass without a poll
  magda/engine/CMakeLists.txt
  magda/engine/io/MidiTakeRecorder.cpp
  magda/engine/io/MidiTakeRecorder.hpp
  magda/engine/io/RecordingFeed.hpp
  magda/engine/io/TakeRecorder.cpp
  magda/engine/io/TakeRecorder.hpp
  magda/engine/plan/PlanCompiler.cpp
  magda/engine/plan/RenderPlan.cpp
  magda/engine/plan/RenderPlan.hpp
  magda/engine/tap/RecordTap.cpp
  magda/engine/tap/RecordTap.hpp
  tests/CMakeLists.txt
  tests/engine/test_live_input.cpp
  tests/engine/test_record_tap.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Read a note slot coherently, and turn the preview over where the file does
  magda/engine/io/TakeRecorder.cpp
  magda/engine/io/TakeRecorder.hpp
  magda/engine/tap/RecordTap.cpp
  magda/engine/tap/RecordTap.hpp
  tests/engine/test_record_tap.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Analyse headers, and fail when a source is not in the compile database
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/clang-tidy.sh
Due: none

Lint a branch's first push against its branch point
  .github/workflows/ci.yml
Due: none

Keep every pending audio boundary, not the newest
  magda/engine/io/TakeRecorder.cpp
  magda/engine/io/TakeRecorder.hpp
  tests/engine/test_record_tap.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check

Map headers to translation units through ninja, not grep
  .github/workflows/ci.yml
  .pre-commit-hooks/clang-tidy.sh
  .pre-commit-hooks/tus-for-headers.py
Due: none

Cap header expansion only, never a file the push changed
  .pre-commit-hooks/clang-tidy.sh
Due: none

Choose a header's translation unit after scoping, not before
  .pre-commit-hooks/tus-for-headers.py
Due: none

Give every changed header a translation unit before spending the cap
  .pre-commit-hooks/clang-tidy.sh
  .pre-commit-hooks/tus-for-headers.py
Due: none

Tell two strikes of one pitch apart by a count, not by what they are
  magda/engine/tap/RecordTap.cpp
  magda/engine/tap/RecordTap.hpp
  tests/engine/test_record_tap.cpp
Due: check-file-size, build-check, clang-tidy-check, test-check
